.page {
	/*background: url('../images/reel.png') no-repeat;
	background-position: -91% 100%;*/
}
header {
	height: 115px;
	padding: 40px 0;
}
.background-color {
	background-color: #E5E5E5;
	background-image: url('../images/reel.png');
	background-repeat: no-repeat;
	background-position: 0% 105%;
}
.no-padding-col {
	padding: 0;
}
#sign-up input,
#login input {
	width: 270px;
	height: 40px;
	margin-bottom: 13px;
	padding: 0 15px
}
#sign-up input[type=radio],
#login input[type=radio] {
	width: 15px;
	height: 15px;
	margin-right: 10px;
}
.label-unbold {
	font-weight: normal;
	font-size: 14px;
	margin-right: 34px;
}
.content {
	margin-bottom: 60px;
}
.search-bar {
	width: 100%;
	height: 40px;
	border-radius: 20px;
	border: 0;
	padding: 0 50px;
	margin-bottom: 55px;
}
.vcv-button {
	width: 120px;
	height: 35px;
	padding: 0;
	font-size: 16px;
	font-family: Arial;
	border-radius: 20px;
	/*background: -webkit-gradient(linear, 20% 50%, 70% 100%, from(#56b9ed), to(#38a1e6));*/
	background: -webkit-linear-gradient(#56b9ed, #38a1e6);
	background: -moz-linear-gradient(#56b9ed, #38a1e6);
	background: -ms-linear-gradient(#56b9ed, #38a1e6);
	background: -o-linear-gradient(#56b9ed, #38a1e6);
	background: linear-gradient(#56b9ed, #38a1e6);
	border: none;
	color: #fff;
}
.image-slider .slider .carousel-indicators {
	bottom: -60px;
}
.image-slider .slider .carousel-indicators li {
	/*background-color: #FFF;
	border-color: #00F;
	box-shadow: 0px 0px 12px;
	border: 2px solid #808080;
	margin: 0 10px;
	width: 16px;
	height: 16px;*/

	box-shadow: 0px 0px 3px 2px #CCC, 0 0 0 5px #E6E6E6;
	border: 0px solid #A8AAAC;
	margin: 0 8px;
	width: 20px;
	height: 20px;
	background: -webkit-radial-gradient(#FFF, #A8AAAC);
}
.image-slider .slider .carousel-indicators .active {
	background: webkit-radial-gradient(#8ed9f3, #51b5ec);
	background: -moz-radial-gradient(#8ed9f3, #51b5ec);
	background: -ms-radial-gradient(#8ed9f3, #51b5ec);
	background: -o-radial-gradient(#8ed9f3, #51b5ec);
	background: radial-gradient(#8ed9f3, #67c4f0);
}
.slider-content{
	margin: 90px 18px;
	text-align: center;
}
/*.dummy-space {
	width: 100px;
	display: inline-block;
	border-bottom: 1px solid #808080;
	height: 42px;
}*/
.recuiter-name .nav-tabs li.first{
	margin-left: 40px;
	border: 1px solid #9e9e9e;
	border-bottom: none;
	border-radius: 4px;
}
.recuiter-name .tab-content {
	background-color: #fff;
	border: 1px solid #9e9e9e;
	/*border-top: none;
*/	border-radius: 4px;
	padding: 60px 0 159px;
	margin-bottom: 60px;
}
.recuiter-name .nav-tabs > li {
	margin-bottom: -2px!important;
}
.recuiter-name .tab-content ul > li {
	list-style-image: url('../images/li-image.png');
	vertical-align: top;
	margin-bottom: 20px;
}
.recuiter-name .nav-tabs > li > a {
	margin-right: 0px!important;
}
/*.footer {
	height: 151px;
	background: -webkit-linear-gradient(left,#7f4131,#ceb286 80%);
*/}

/*.marquee {
	position:relative;
	overflow:hidden;
	width:100%;
	height:60px;
	border:solid black 1px;
}*/
.recruiter-slider-section {
	margin-bottom: 60px;
}
.slider-wrap {
	background-color: #F2F2F2;
	padding-top: 7px;
}
.recruiter_slide {
	background-color: #F2F2F2;
}
.slide_cont {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	/*background-color: #f8f0db;*/
	padding: 5px 0px;
	width: 100%;
	box-sizing: border-box;
	color:#ffffff;
}
ul.recruiters {
	margin:0;
	padding:0 10px;
	box-sizing: border-box;
	height:80px;
	list-style-type:none;
}
ul.recruiters li {
	float:left;
	list-style-type:none;
}
ul.recruiters li div {
	margin-left: 30px;
}
ul.recruiters li a {
	color:#ffffff;
	font-size:13px;
	margin-right:50px;
}

footer {
	height: 97px;
	background: -webkit-linear-gradient(#2e2e2e, #1c1c1c);
	background: -moz-linear-gradient(#2e2e2e, #1c1c1c);
	background: -ms-linear-gradient(#2e2e2e, #1c1c1c);
	background: -o-linear-gradient(#2e2e2e, #1c1c1c);
	background: linear-gradient(#2e2e2e, #1c1c1c);
	position: relative;
}
.footer-menu-section {
	/*border-bottom: 100px solid #5c5c5c;
	border-left: 50px solid rgba(0, 0, 0, 0);
	border-right: 50px solid rgba(0, 0, 0, 0);
	height: 0;
	width: 100%;*/
	background: url('../images/footer-bar.png') no-repeat;
	height: 100px;
	position: absolute;
	width: 100%;
	top: -10px;
	background-size: 100%;
}
.footer-content {
	text-align: center;
	margin: 35px 0;
	color: #F2D9D9;
}
.copy-right-text {
	color: #F2D9D9;
	text-align: right;
	margin-top: 44px;
	font-size: 13px;
	font-family: century gothic;
}
/*--------------SignIn 1---------------------*/
.step-bar-container {
	margin-bottom: 10px;
}
.step-bar {
	height: 38px;
	border: 1px solid #c0c0c0;
}
.step-bar .inner-color {
	background-color: #FFF;
	display: block;
	height: 100%;
	/*border: 2px solid #FFF;*/
	padding: 8px 20px;
}
.step-bar.active {
	border: 1px solid #3AA2E6;
}
.step-bar.active .inner-color {
	background-color: #3AA2E6;
	border: 2px solid #FFF;
}
.step-details-container {
	background-color: rgba(0, 0, 0, 0.1);
	border: 2px solid #3AA2E6;
	border-radius: 5px;
	text-align: center;
	padding: 25px 0;
}
.step-details-container table th {
	padding-left: 30px !important;
	border-top: none !important;
}
.step-details-container table td {
	padding: 0 !important;
	border-top: none !important;
}
.step-details-container input {
	width: 300px;
	padding: 8px 20px;
}
.step-details-container.third-step {
	padding: 25px 60px;
}
.step-details-container.third-step input {
	width: 262px;
}
.button-container{
	text-align: right; 
	padding-right: 30px;
	margin-top: 94px;
}
.title {
	text-align: left;
	border-bottom: 1px solid black;
}