<!DOCTYPE html>
<html ng-app="vcv">
	<head>
		<title>VCV</title>	
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    	<meta charset="utf-8">
    	<link type="text/css" src="libraries/jquery.bxslider.css" >

		<link href="libraries/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="css/style.css" rel="stylesheet" type="text/css">
	
	</head>
	<body class="background-color">
		<div class="page container">
			<div id="overlay"></div>
			<header class="header" role="banner">
				<div class="row">
					<div class="col-md-2">
						<img src="images/vcv-logo2.png">
					</div>
					<div class="col-md-6">
						&nbsp;
					</div>
					<div class="col-md-2">
						<button class="vcv-button btn btn-primary btn-lg" data-toggle="modal" data-target="#sign-up">Sign Up</button>
					</div>
					<div class="col-md-2">
						<button class="vcv-button btn btn-primary btn-lg" data-toggle="modal" data-target="#login">Login</button>
					</div>
				</div>
			</header>
		
			<div class="container adjust-top ">
      			 <div class="row banner-header">
                		<div class="banner-content">
                    		<h2>What is VideooCV ?</h2>
                		</div>
       			</div>
			</div>

	<div class="container">
   				<div class="row-contact-us">
        <p>Vedioocv.com is a Job portal for both the recruiters and job seekers looking for an easy way of recruitment process. The site has been designed in such a way that all of the job seekers can upload video cv’s , visual cv ‘s who are looking for an opportunity can find their willing job in a very effective and efficient manner by uploading self-recorded Video CV or Video CV recorded through us in a minimal amount of time , and beauty of this is employer or recruiter can skip first round of interview. And similarly, all the recruiters can find the right candidates at the right time for the job posted filtering the unnecessary steps in their traditional recruitment process .</p>

        <h2>Vedioocv.com is all about Video CV, Visual CV  and Video JD</h2>

        <p>India is a densely populated country. With a population of over 1.2 billion it is not at all hard to guess how many people apply for a job every day. But have you ever imagined how long it takes to read those thousands of CVs for a recruiter and then selecting the best ones from the same? Similarly there are thousands of jobs posted every day and it is very cumbersome to find out the most suitable one for a candidate. That is why Vedioocv.com came up with the idea of Video CV for the recruiters and Video JD for the candidates .</p>

        <h2>VediooCV’s For Employers</h2>
            
        	<p>It helps in a much faster applicant screening to speed up the selection process and finding the right candidate by minimizing the amount of time in sorting through lengthy applications or unsuitable candidates</p>

        	<p>Its beneficial tool for employer by providing all the information related to the job posted. Employers can submit a Video JD of the posted job describing job title, description, education requirements and experiences requirements. Below are the benefits to break the traditional interview process</p>

        	<p>Enables recruiters to reduce the number of face to face interviews by viewing video  CV’s</p>

        	<p>As most word CV’s  are cut, copy & pasted  , VideoCV  brings originality and authenticity to the profile</p>

        	<p>Easy to view,  share, & download</p>

        	<p>Recruiters can view Presentations, Pictures, projects and Print screen shots along with the work of job seekers which makes effective hiring</p>


    	<h2>VediooCV’s For Job Seekers</h2>

    		<p>We Help Job Seekers Make Video CV  & Upload , Share the same with employers through our portal</p>

    		<p>With the help of basic technology creating video cv is easier than preparing CV in word document . It’s a very effective mode of expressing the skill sets </p>

		 	<p>Breaks Distance barrier</p>

		 	<p>Can submit Presentations, Pictures and Print screen shots along with the work and describe their experience and education more relevant to the posted position</p>

		 	<h2>How to create a VideooCV  ?</h2>
		 	  <p>It’s time for you to tear up your old boring CV and create an eye-catching Video CV. </p>

		 	   <span>Here is the video shows how it works</span>

		 	   	<h3>Some Tips for making Video CV</h3>
					<li>Creating a Video CV is a very simple and quick task, and we take you through the process, step by step. Although, before creating a Video CV, you must keep in mind some suggestions to get the best results. </li>
					<li>It must be created in a clean, brighter and peaceful place with pre planned content in your mind highlighting your skills that match the requirements of the posted job.</li>
					<li>You must maintain proper body language and must be in proper formal attire while filming your Video CV. It should not be of more than 5 minutes and you must always keep an eye contact with the camera.</li>
  		</div>
	</div>

			<div class="full_outer_container">
					<div class="recruiter-slider-section">
					<!-- <marquee behavior="scroll" direction="left">
						<img src="img/vcv/clients-image.png" />
					</marquee> -->
					<div class="slider-wrap">
						<ul class="recruiters">
								
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -63px; width: 100%; height: 35px; padding-bottom: 22px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -3439px; width: 96px; height: 20px; padding-bottom: 22px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2289px; width: 85px; height: 47px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2380px; width: 126px; height: 37px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2755px; width: 78px; height: 37px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2826px; width: 61px; height: 37px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -3110px; width: 90px; height: 37px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -3193px; width: 53px; height: 34px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2504px; width: 75px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2574px; width: 105px; height: 40px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -3242px; width: 100px; height: 33px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -3339px; width: 100px; height: 33px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -3529px; width: 132px; height: 33px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -295px; width: 109px; height: 37px; padding-bottom: 10px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -398px; width: 149px; height: 37px; padding-bottom: 16px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -540px; width: 50px; height: 31px; padding-bottom: 9px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -585px; width: 91px; height: 37px; padding-bottom: 8px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -675px; width: 92px; height: 30px; padding-bottom: 9px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -766px; width: 60px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -824px; width: 90px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -911px; width: 71px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -980px; width: 40px; height: 34px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1016px; width: 67px; height: 37px; padding-top: 10px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1080px; width: 94px; height: 30px; padding-top: 12px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1169px; width: 95px; height: 43px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1262px; width: 149px; height: 36px; padding-top: 12px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1411px; width: 89px; height: 34px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1495px; width: 85px; height: 34px; padding-top: 10px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1577px; width: 106px; height: 34px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1683px; width: 96px; height: 37px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -196px; width: 104px; height: 37px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1773px; width: 67px; height: 34px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1834px; width: 107px; height: 37px; padding-top: 16px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1941px; width: 146px; height: 40px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2118px; width: 95px; height: 37px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2210px; width: 80px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
    							<div style="background-image: url('img/vcv/clients-image.png'?v=1); background-position: -3750px; width: 110px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2886px; width: 230px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2680px; width: 80px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -63px; width: 137px; height: 35px; padding-bottom: 22px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -3439px; width: 96px; height: 20px; padding-bottom: 22px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2289px; width: 85px; height: 47px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2380px; width: 126px; height: 37px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2755px; width: 78px; height: 37px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2826px; width: 61px; height: 37px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -3110px; width: 90px; height: 37px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -3193px; width: 53px; height: 34px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2504px; width: 75px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2574px; width: 105px; height: 40px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -3242px; width: 100px; height: 33px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -3339px; width: 100px; height: 33px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -3529px; width: 132px; height: 33px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -295px; width: 109px; height: 37px; padding-bottom: 10px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -398px; width: 149px; height: 37px; padding-bottom: 16px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -540px; width: 50px; height: 31px; padding-bottom: 9px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -585px; width: 91px; height: 37px; padding-bottom: 8px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -675px; width: 92px; height: 30px; padding-bottom: 9px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -766px; width: 60px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -824px; width: 90px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -911px; width: 71px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -980px; width: 40px; height: 34px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1016px; width: 67px; height: 37px; padding-top: 10px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1080px; width: 94px; height: 30px; padding-top: 12px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1169px; width: 95px; height: 43px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1262px; width: 149px; height: 36px; padding-top: 12px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1411px; width: 89px; height: 34px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1495px; width: 85px; height: 34px; padding-top: 10px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1577px; width: 106px; height: 34px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1683px; width: 96px; height: 37px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -196px; width: 104px; height: 37px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1773px; width: 67px; height: 34px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1834px; width: 107px; height: 37px; padding-top: 16px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1941px; width: 146px; height: 40px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2118px; width: 95px; height: 37px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2210px; width: 80px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
    							<div style="background-image: url('img/vcv/clients-image.png'?v=1); background-position: -3750px; width: 110px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2886px; width: 230px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2680px; width: 80px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -63px; width: 137px; height: 35px; padding-bottom: 22px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -3439px; width: 96px; height: 20px; padding-bottom: 22px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2289px; width: 85px; height: 47px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2380px; width: 126px; height: 37px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2755px; width: 78px; height: 37px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2826px; width: 61px; height: 37px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -3110px; width: 90px; height: 37px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -3193px; width: 53px; height: 34px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2504px; width: 75px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2574px; width: 105px; height: 40px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -3242px; width: 100px; height: 33px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -3339px; width: 100px; height: 33px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -3529px; width: 132px; height: 33px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -295px; width: 109px; height: 37px; padding-bottom: 10px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -398px; width: 149px; height: 37px; padding-bottom: 16px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -540px; width: 50px; height: 31px; padding-bottom: 9px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -585px; width: 91px; height: 37px; padding-bottom: 8px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -675px; width: 92px; height: 30px; padding-bottom: 9px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -766px; width: 60px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -824px; width: 90px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -911px; width: 71px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -980px; width: 40px; height: 34px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1016px; width: 67px; height: 37px; padding-top: 10px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1080px; width: 94px; height: 30px; padding-top: 12px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1169px; width: 95px; height: 43px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1262px; width: 149px; height: 36px; padding-top: 12px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1411px; width: 89px; height: 34px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1495px; width: 85px; height: 34px; padding-top: 10px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1577px; width: 106px; height: 34px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1683px; width: 96px; height: 37px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -196px; width: 104px; height: 37px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1773px; width: 67px; height: 34px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1834px; width: 107px; height: 37px; padding-top: 16px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1941px; width: 146px; height: 40px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2118px; width: 95px; height: 37px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2210px; width: 80px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
    							<div style="background-image: url('img/vcv/clients-image.png'?v=1); background-position: -3750px; width: 110px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2886px; width: 230px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2680px; width: 80px; height: 36px; cursor: pointer;"></div>
							</li>
						</ul>
					</div>

					<!-- <div class="row numberings">
					  	<div class="container">
						    <div class="col-md-4 ">
						        <h2>200</h2>
						        <h3>Total Employer's</h3>
						    </div>
						    <div class="col-md-4">
						        <h2>1500</h2>
						        <h3>Employee's benefited</h3>
						    </div>
						    <div class="col-md-4">
						        <h2>6000</h2>
						        <h3>Total Number Of Resumes</h3>
						    </div>
					    </div>
					</div> -->
				</div>
				</div>
			</div>
		</div>
		<footer class="container-fluid">
			<div class="row">
				<div class="col-md-4">
					&nbsp;
				</div>
				<div class="col-md-4">
					<div class="row footer-menu-section">
						<div class="col-md-1">
							&nbsp;
						</div>
						<div class="col-md-10">
							<div class="row footer-content">
								<div class="col-md-4">
									<a href="about-us.html">About Us</a></li>
								</div>
								<div class="col-md-4">
									<a href="about-us.html">How It Works</a></li>
								</div>
								<div class="col-md-4">
									<a href="contact-us.html">Contact us</a></li>
								</div>
							</div>
						</div>						
						<div class="col-md-1">
							&nbsp;
						</div>
					</div>
				</div>
				<div class="col-md-4 copy-right">
					<div class="row">
						<div class="col-md-10 copy-right-text">
							&#169; 2014 VIDEOOCV. ALL RIGHT RESERVED
						</div>
						<div class="col-md-2">
						</div>
					</div>
					
				</div>
			</div>
		</footer>
		<!-- Modal -->
		<div class="modal fade" id="sign-up" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
		      </div>
		      <div class="modal-body">
		      	<form name="sign-up-form" ng-controller="SignUpController">
		      		<label class="label-unbold">
				        <input type="radio" class="input-field" name="user-type" value="seeker" ng-model="signUpData.user_type"/>Job Seeker
				    </label>
				    <label class="label-unbold">
				        <input type="radio" class="input-field" name="user-type" value="recruiter" ng-model="signUpData.user_type"/>Recruiter
				    </label>
				    <br/>
			        <input type="text" class="input-field" placeholder="Username" ng-model="signUpData.username"/><br/>
			        <input type="email" class="input-field" placeholder="E-mail" ng-model="signUpData.email"/><br/>
			        <input type="password" class="input-field" placeholder="Password" ng-model="signUpData.password"/><br/>
			        <input type="password" class="input-field" placeholder="Confirm Password" ng-model="signUpData.confirm_password" /><br/>
			        <button class="vcv-button" ng-click="signUp()">REGISTER</button>
		        </form >
		      </div>
		      <!-- <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary">Save changes</button>
		      </div> -->
		    </div>
		  </div>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">Sign In</h4>
		      </div>
		      <div class="modal-body">
		        <form name="sign-up-form" ng-controller="loginController">
			        <input type="email" class="input-field" placeholder="Username/E-mail" ng-model="loginData.username"/><br/>
			        <input type="password" class="input-field" placeholder="Password" ng-model="loginData.password"/><br/>
			        <button class="vcv-button" ng-click="login()">LOGIN</button>
		        </form >
		      </div>
		      <!-- <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary">Save changes</button>
		      </div> -->
		    </div>
		  </div>
		</div>



		<script type="text/javascript" src="libraries/jquery-1.9.1.js"></script>
		<script src="libraries/bootstrap/js/bootstrap.min.js"></script>
		<script src="libraries/bootstrap/js/bootbox.min.js"></script>

		<script type="text/javascript" src="libraries/jquery.bxslider.js" ></script>
		<script type="text/javascript" src="libraries/angular.js" ></script>
		<script type="text/javascript" src="libraries/angular-route.js"></script>

		<script src="js/marquee.js" type="text/javascript"></script>
		
		<script type="text/javascript" src="js/ng-route.js"></script>
		<script type="text/javascript" src="js/ng-controllers/Register.js"></script>
		<script type="text/javascript" src="js/ng-controllers/login.js"></script>
		<script type="text/javascript" src="js/ng-services/OnSuccess.js"></script>


  </body>

</html>