<div class="dash-wrap">
	<div class="dashboard-container">
		<div ng-show="diplayProperties">
			<div class="admin-pannel propertiesListContainer">
				<!--Admin Search form-->

				<h3>Search Properties</h3>

				<div class="form-element clearfix col-lg-4">
					<span class="form-hold clearfix">
						<h4 for="">Street Address</h4>
						<div class="validate-line ">
							<input type="text" ng-model="searchPropertiesInput.street_address" class="input-field" >
							<div class="input-wrapper"></div>
							<div class="message"></div>
						</div>
					</span>
				</div>
				<div class="form-element clearfix col-lg-4">
					<span class="form-hold clearfix">
						<h4 for="">Suburb / Region</h4>
						<div class="validate-line ">
							<input type="text" ng-model="searchPropertiesInput.suburb" class="input-field" >
							<div class="input-wrapper"></div>
							<div class="message"></div>
						</div>
					</span>
				</div>
				<div class="form-element clearfix col-lg-4">
					<span class="form-hold clearfix">
						<h4 for="">State</h4>
						<div class="validate-line ">
							<input type="text" ng-model="searchPropertiesInput.state" class="input-field" >
							<div class="input-wrapper"></div>
							<div class="message"></div>
						</div>
					</span>
				</div>
				<div class="form-element clearfix col-lg-4">
					<span class="form-hold clearfix">
						<h4 for="">Property Status</h4>
						<div class="validate-line ">
							<select  class="input-field" ng-model="searchPropertiesInput.status" placeholder="status">
								<option value="">All</option>
								<option value="verified">Verified</option>
								<option value="unverified">Unverified</option>
							</select>
							<div class="input-wrapper"></div>
							<div class="message"></div>
						</div>
					</span>
				</div>
				<div class="form-element clearfix col-lg-4">
					<span class="form-hold clearfix">
						<h4 for="">Property Price</h4>
						<div class="validate-line ">
							<input type="text" ng-model="searchPropertiesInput.property_price" class="input-field" >
							<div class="input-wrapper"></div>
							<div class="message"></div>
						</div>
					</span>
				</div>
				<div class="form-element clearfix col-lg-4">
					<span class="form-hold clearfix">
						<h4 for="">Country</h4>
						<div class="validate-line ">
							<select class="input-field" ng-model="searchPropertiesInput.country">
								<option value="">ALL</option>
								<option value="Australia">AUS</option>
								<option value="New Zeland">NZ</option>
								<option value="United States Of America">US</option>
								<option value="United Kingdom">UK</option>
								<option value="Ireland">IRE</option>
							</select>
							<div class="input-wrapper"></div>
							<div class="message"></div>
						</div>
					</span>
				</div>
				<div class="form-element clearfix col-lg-4">
					<span class="form-hold clearfix">
						<h4 for="">Property Listed On</h4>
						<div class="validate-line ">
							<input type="text" placeholder="dd-mm-yyyy" class="datepicker input-field" name="fname" ng-model="searchPropertiesInput.property_created_date">
							<div class="input-wrapper"></div>
							<div class="message"></div>
							<!-- <span class="sprite date-icon"></span> </div> -->
						</div>
					</span>
				</div>
				<div class="form-element clearfix col-lg-4">
					<span class="form-hold clearfix">
						<h4 for="">Property Type</h4>
						<div class="validate-line ">
							<select  class="input-field" ng-model="searchPropertiesInput.property_type" placeholder="status">
								<option value="">All</option>
								<option value="auction">Auction</option>
								<option value="sale">Sale</option>
							</select>
							<div class="input-wrapper"></div>
							<div class="message"></div>
						</div>
					</span>
				</div>
				<div class="form-element clearfix col-lg-4">
					<span class="form-hold clearfix">
						<h4 for="">Upload by - Username/email</h4>
						<div class="validate-line ">
							<input type="text" ng-model="searchPropertiesInput.username" class="input-field" >
							<div class="input-wrapper"></div>
							<div class="message"></div>
						</div>
					</span>
				</div>

				<div class="clearfix"></div>
				<button class="mc-btn admin-search-btn" ng-click="searchPropertyCriteria()" type="submit">SEARCH </button>  
			</div>
			<hr>
			<div class="clearfix"></div>
			<div ng-show="displayResultsView">
				<h3>Properties List</h3>
				<h4 class="textAlignCenter" ng-hide="propertiesData.length">No Property found with the selected criteria</h4>
				<table class="table table-bordered usersListTable" ng-show="propertiesData.length">
					<thead>
						<tr>
							<th>Address</th>
							<th>Price</th>
							<th>Listed On</th>
							<th>User Name</th>
							<th>Property Type</th>
							<th>Property Status</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="property in propertiesData">
							<td>{{property.property_address}}</td>
							<td>{{property.pricing}}</td>
							<td>{{property.created_date}}</td>
							<td>{{property.username}}</td>
							<td>{{property.property_type}}</td>
							<td ng-show="property.is_verified"><p class="adminVerifyTxt">VERIFIED</p></td>
							<!--  <td ng-show="user.status == 'verified'"><button class="mc-btn admin-details-btn" ng-click="getUserDetails(user.id)">DETAILS</button></td> -->
							<td ng-hide="property.is_verified"><p class="adminNotVerifytxt">UNVERIFIED</p></td>
							<td ><a ng-href="propertyProfilePage.html#{{property.id}}" target="_blank"><button class="mc-btn admin-details-btn">DETAILS</button></a><br><br><button class="mc-btn admin-success-btn" data-toggle="modal" ng-click="verifyProperty(property.id)" data-target="#verifyModal" ><span ng-hide="property.is_verified">Add & Verify</span><span ng-show="property.is_verified">Edit & Verify</span></button></td>
						</tr>
						<!--  <tr>
						   <td>juhul.mania@gmail.com</td>
						   <td>juhulmania</td>
						   <td>Manikandan</td>
						   <td>08.09.1989</td>
						   <td><p class="adminNotVerifytxt"><u>NOT VERIFIED</u> </p></td>
						   <td><button class="mc-btn admin-success-btn" data-toggle="modal" data-target="#verifyModal" >VERIFY</button></td>
						 </tr> -->
					</tbody>
				</table> 
			</div>
        </div>
        <div ng-hide="diplayProperties" class="admin-pannel">
			<h2 class="pull-left">Add Property Details</h2>
			<button class="btn btn-info pull-right" ng-click="backToProperties()">Back to Properties List</button>
			<div class="clearfix"></div>
			<form id="fileupload" name="searchAddProperties" method="POST" enctype="multipart/form-data" data-ng-controller="DemoFileUploadController" data-file-upload="options" data-ng-class="{'fileupload-processing': processing() || loadingFiles}">
				<div class="loandetailsContainer">
					<h3>Loan Details</h3>

					<!-- <p class="info-para clearfix">
						<span class="info-logo-icon sprite"></span>
						<span class="text">If you have then weblink for the property, please enter it here</span>
					</p>-->
					<!--------Copy and Paste weblink here-------->
					<div class="row"><!--------ng-hide="displaySearchPropertyContainer"---->
						<div class="col-lg-9 dashboard-wrap-hold">
							<div class="form-element clearfix">
								<label class="col-sm-4 pad-zero" for="inputEmail3">Weblink for the Property</label>
								<div class="col-sm-7 pad-zero">
									<span class="form-hold2 clearfix">
										<div class="validate-line">
											<input type="text" name="link_to_property" class="input-field"  ng-model="fullDetails.link_to_property">
											<div class="input-wrapper"></div>
											<div class="message"></div>
										</div>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-9 dashboard-wrap-hold">
							<div class="form-element clearfix">
								<label for="inputEmail3" class="col-sm-3 pad-zero">Property Price*</label>
								<div class="col-sm-9 pad-zero">
									<span class="form-hold2 clearfix">
										<div class="validate-line">
											<input type="text" form-name="searchAddProperties" validate-on-blur required ng-model="fullDetails.house_price" validate-type="number" class="input-field " name="house_price">
											<div class="input-wrapper"></div>
											<div class="message"></div>
										</div>
									</span>
								</div>
							</div>
							<div class="form-element clearfix">
								<label for="inputEmail3" class="col-sm-3 pad-zero">Tenure*</label>
								<div class="col-sm-9 pad-zero">
									<span class="form-hold2 clearfix">
										<div class="validate-line">
											<select class="input-field" ng-model="fullDetails.tenure" form-name="searchAddProperties">
												<option value="25">25</option>
												<option value="30">30</option>
											</select>
											<div class="input-wrapper"></div>
											<div class="message"></div>
										</div>
									</span>
								</div>
							</div>
							<div class="form-element clearfix">
								<label for="inputEmail3" class="col-sm-3 pad-zero">Your Deposit*</label>
								<div class="col-sm-9 pad-zero">
									<span class="form-hold2 clearfix">
										<div class="validate-line">
											<input type="text" form-name="searchAddProperties" validate-on-blur required ng-model="fullDetails.deposit_amount" validate-type="number" class="input-field " name="deposit_amount">
											<div class="input-wrapper"></div>
											<div class="message"></div>
										</div>
									</span>
								</div>
							</div>
							<div class="form-element clearfix">
								<label for="inputEmail3" class="col-sm-3 pad-zero">Property Usage*</label>
								<div class="col-sm-9 pad-zero">
									<span class="form-hold2 clearfix">
										<div class="validate-line">
											<select class="input-field" ng-model="fullDetails.intended_property_usage" form-name="searchAddProperties">
												<option value="owner">owner</option>
												<option value="agent">agent</option>
											</select>
											<div class="input-wrapper"></div>
											<div class="message"></div>
										</div>
									</span>
								</div>
							</div>
							<div class="form-element clearfix">
								<label for="inputEmail3" class="col-sm-8 pad-zero">Are you going to renovate the property?*</label>
								<div class="col-sm-4 pad-zero">
									<span class="form-hold2 clearfix">
										<div class="validate-line">
											<select class="input-field" ng-model="fullDetails.is_renovate" form-name="searchAddProperties">
												<option value="yes">Yes</option>
												<option value="no">No</option>
											</select>
											<div class="input-wrapper"></div>
											<div class="message"></div>
										</div>
									</span>
								</div>
							</div>
							<div class="form-element clearfix">
								<label for="inputEmail3" class="col-sm-8 pad-zero">When do you expect to refinance*</label>
								<div class="col-sm-4 pad-zero">
									<span class="form-hold2 clearfix">
										<div class="validate-line">
											<select class="input-field" ng-model="fullDetails.expect_refinance_years" form-name="searchAddProperties">
												<option value="1-3 years">1 - 3 years</option>
												<option value="3-6 years">3 - 6 years</option>
												<option value="6-10 years">6 - 10 years</option>
												<option value="> 10 years">
													> 10 years</option>
											</select>
											<div class="input-wrapper"></div>
											<div class="message"></div>
										</div>
									</span>
								</div>
							</div>
						</div>
					</div>
					<h3>Property Details</h3>
					<div class="row">
						<div class="col-lg-9 dashboard-wrap-hold">
							<div class="form-element clearfix">
								<label for="inputEmail3" class="col-sm-3 pad-zero">Unit Number*</label>
								<div class="col-sm-9 pad-zero">
									<span class="form-hold2 clearfix">
										<div class="validate-line">
											<input type="text" form-name="searchAddProperties" required ng-model="fullDetails.address.street_no" class="input-field " name="street_number">
											<div class="input-wrapper"></div>
											<div class="message"></div>
										</div>
									</span>
								</div>
							</div>
							<div class="form-element clearfix">
								<label for="inputEmail3" class="col-sm-3 pad-zero">Street Name*</label>
								<div class="col-sm-9 pad-zero">
									<span class="form-hold2 clearfix">
										<div class="validate-line">
											<input type="text" form-name="searchAddProperties" required ng-model="fullDetails.address.street_name" validate-type="name" class="input-field " name="street_name">
											<div class="input-wrapper"></div>
											<div class="message"></div>
										</div>
									</span>
								</div>
							</div>
							<div class="form-element clearfix">
								<label for="inputEmail3" class="col-sm-3 pad-zero">Suburb*</label>
								<div class="col-sm-9 pad-zero">
									<span class="form-hold2 clearfix">
										<div class="validate-line">
											<input type="text" form-name="searchAddProperties" required ng-model="fullDetails.address.suburb" validate-type="name" class="input-field " name="suburb">
											<div class="input-wrapper"></div>
											<div class="message"></div>
										</div>
									</span>
								</div>
							</div>
							<div class="form-element clearfix">
								<label for="inputEmail3" class="col-sm-3 pad-zero">Postcode*</label>
								<div class="col-sm-9 pad-zero">
									<span class="form-hold2 clearfix">
										<div class="validate-line">
											<input type="text" form-name="searchAddProperties" validate-on-blur required ng-model="fullDetails.address.postcode" validate-type="number" class="input-field " name="postcode">
											<div class="input-wrapper"></div>
											<div class="message"></div>
										</div>
									</span>
								</div>
							</div>
							<div class="form-element clearfix">
								<label for="inputEmail3" class="col-sm-3 pad-zero">City*</label>
								<div class="col-sm-9 pad-zero">
									<span class="form-hold2 clearfix">
										<div class="validate-line">
											<input type="text" form-name="searchAddProperties" required ng-model="fullDetails.address.city_name" validate-type="name" class="input-field " name="city_name">
											<div class="input-wrapper"></div>
											<div class="message"></div>
										</div>
									</span>
								</div>
							</div>
							<div class="form-element clearfix">
								<label for="inputEmail3" class="col-sm-3 pad-zero">State*</label>
								<div class="col-sm-9 pad-zero">
									<span class="form-hold2 clearfix">
										<div class="validate-line">
											<input type="text" form-name="searchAddProperties" required ng-model="fullDetails.address.state_name" validate-type="name" class="input-field " name="state_name">
											<div class="input-wrapper"></div>
											<div class="message"></div>
										</div>
									</span>
								</div>
							</div>
						</div>
					</div>
					<p class="info-para clearfix">
						<span class="info-logo-icon sprite"></span>
						<span class="text">Please provide details of the property agent or if the property is for sale by owner, please provide their details. </span>
					</p>
					<h3 class="sub-heading">Property Agent / Owner information </h3>
					<div class="row">
						<div class="col-lg-9 dashboard-wrap-hold">
							<div class="form-element clearfix">
								<label for="inputEmail3" class="col-sm-3 pad-zero">Agency Name*</label>
								<div class="col-sm-9 pad-zero">
									<span class="form-hold2 clearfix">
										<div class="validate-line">
											<input type="text" form-name="searchAddProperties" validate-on-blur required ng-model="fullDetails.agent_info.agency_name" validate-type="name" class="input-field " name="agency_name">
											<div class="input-wrapper"></div>
											<div class="message"></div>
										</div>
									</span>
								</div>
							</div>
							<div class="form-element clearfix">
								<label for="inputEmail3" class="col-sm-3 pad-zero">Agent Name</label>
								<div class="col-sm-9 pad-zero">
									<span class="form-hold2 clearfix">
										<div class="validate-line">
											<input type="text" form-name="searchAddProperties" ng-model="fullDetails.agent_info.agent_name" validate-on-blur validate-type="name" class="input-field " name="agent_name">
											<div class="input-wrapper"></div>
											<div class="message"></div>
										</div>
									</span>
								</div>
							</div>
							<div class="form-element clearfix">
								<label for="inputEmail3" class="col-sm-3 pad-zero">Agent Logo</label>
								<div class="col-sm-9 pad-zero">
									<span class="form-hold2 clearfix">
										<div class="validate-line">
											<input type="text" form-name="searchAddProperties" ng-model="fullDetails.agent_info.agent_logo" validate-on-blur validate-type="name" class="input-field " name="agent_logo">
											<div class="input-wrapper"></div>
											<div class="message"></div>
										</div>
									</span>
								</div>
							</div>
							<div class="form-element clearfix">
								<label for="inputEmail3" class="col-sm-3 pad-zero">Email<sup>*</sup></label>
								<div class="col-sm-9 pad-zero">
									<span class="form-hold2 clearfix">
										<div class="validate-line">
											<input type="text" form-name="searchAddProperties" validate-on-blur  ng-model="fullDetails.agent_info.agent_email_id" required validate-type="email" class="input-field " name="agent_email_id">
											<div class="input-wrapper"></div>
											<div class="message"></div>
										</div>
									</span>
								</div>
							</div>
							<div class="form-element clearfix">
								<label for="inputEmail3" class="col-sm-3 pad-zero">Work*</label>
								<div class="col-sm-9 pad-zero">
									<span class="form-hold2 clearfix">
										<div class="validate-line small">
											<input type="text" validate-on-blur required ng-model="fullDetails.phones.work.code" placeholder="area code" class="input-field ng-pristine ng-valid" name="code" form-name="searchAddProperties" validate-type="number">
											<div class="input-wrapper"></div>
											<div class="message"></div>
										</div>
										<div class="validate-line medium">
											<input type="text" validate-on-blur required ng-model="fullDetails.phones.work.phone_number" placeholder="number" class="input-field ng-pristine ng-valid" name="phone_number" form-name="searchAddProperties" validate-type="number">
											<div class="input-wrapper"></div>
											<div class="message"></div>
										</div>
									</span>
								</div>
							</div>
							<div class="form-element clearfix">
								<label for="inputEmail3" class="col-sm-3 pad-zero">Mobile*</label>
								<div class="col-sm-9 pad-zero">
									<span class="form-hold2 clearfix">
										<div class="validate-line small">
											<input type="text" validate-on-blur required ng-model="fullDetails.phones.mobile.code" placeholder="area code" class="input-field ng-pristine ng-valid" name="code" form-name="searchAddProperties" validate-type="number">
											<div class="input-wrapper"></div>
											<div class="message"></div>
										</div>
										<div class="validate-line medium">
											<input type="text" validate-on-blur required ng-model="fullDetails.phones.mobile.phone_number" placeholder="number" class="input-field ng-pristine ng-valid" name="phone_number" form-name="searchAddProperties" validate-type="number">
											<div class="input-wrapper"></div>
											<div class="message"></div>
										</div>
									</span>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-10 dashboard-wrap-hold">
							<h3>Additional Details</h3>
							<div class="form-element clearfix">
								<label for="inputEmail3" class="col-sm-3 pad-zero">Built In Year</label>
								<div class="col-sm-9 pad-zero">
									<span class="form-hold2 clearfix">
										<div class="validate-line">
											<input type="text" form-name="searchAddProperties" required ng-model="fullDetails.built_in_year" validate-type="name" class="input-field " name="built_in_year">
											<div class="input-wrapper"></div>
											<div class="message"></div>
										</div>
									</span>
								</div>
							</div>
							<div class="form-element clearfix">
								<label for="inputEmail3" class="col-sm-3 pad-zero">No Of Floors</label>
								<div class="col-sm-9 pad-zero">
									<span class="form-hold2 clearfix">
										<div class="validate-line">
											<input type="text" form-name="searchAddProperties" required ng-model="fullDetails.no_of_floors" validate-type="name" class="input-field " name="no_of_floors">
											<div class="input-wrapper"></div>
											<div class="message"></div>
										</div>
									</span>
								</div>
							</div>
							<div class="form-element clearfix">
								<label for="inputEmail3" class="col-sm-3 pad-zero">No Of Beds</label>
								<div class="col-sm-9 pad-zero">
									<span class="form-hold2 clearfix">
										<div class="validate-line">
											<input type="text" form-name="searchAddProperties" required ng-model="fullDetails.no_of_beds" validate-type="name" class="input-field " name="no_of_beds">
											<div class="input-wrapper"></div>
											<div class="message"></div>
										</div>
									</span>
								</div>
							</div>
							<div class="form-element clearfix">
								<label for="inputEmail3" class="col-sm-3 pad-zero">No Of BathRooms</label>
								<div class="col-sm-9 pad-zero">
									<span class="form-hold2 clearfix">
										<div class="validate-line">
											<input type="text" form-name="searchAddProperties" required ng-model="fullDetails.no_of_bathrooms" validate-type="name" class="input-field " name="no_of_bathrooms">
											<div class="input-wrapper"></div>
											<div class="message"></div>
										</div>
									</span>
								</div>
							</div>
							<div class="form-element clearfix">
								<label for="inputEmail3" class="col-sm-3 pad-zero">Parking</label>
								<div class="col-sm-9 pad-zero">
									<span class="form-hold2 clearfix">
										<div class="validate-line">
											<input type="text" form-name="searchAddProperties" required ng-model="fullDetails.parking" validate-type="name" class="input-field " name="parking">
											<div class="input-wrapper"></div>
											<div class="message"></div>
										</div>
									</span>
								</div>
							</div>
							<div class="form-element clearfix">
								<label for="inputEmail3" class="col-sm-3 pad-zero">Land Size</label>
								<div class="col-sm-9 pad-zero">
									<span class="form-hold2 clearfix">
										<div class="validate-line">
											<input type="text" form-name="searchAddProperties" required ng-model="fullDetails.land_size" validate-type="name" class="input-field " name="land_size">
											<div class="input-wrapper"></div>
											<div class="message"></div>
										</div>
									</span>
								</div>
							</div>
							<div class="form-element clearfix">
								<label for="inputEmail3" class="col-sm-3 pad-zero">Short Description</label>
								<div class="col-sm-9 pad-zero">
									<span class="form-hold2 clearfix">
										<div class="validate-line">
											<input type="text" form-name="searchAddProperties" required ng-model="fullDetails.short_description" validate-type="name" class="input-field " name="short_description">
											<div class="input-wrapper"></div>
											<div class="message"></div>
										</div>
									</span>
								</div>
							</div>
							<div class="form-element clearfix">
								<label for="inputEmail3" class="col-sm-3 pad-zero">Long Description</label>
								<div class="col-sm-9 pad-zero">
									<span class="form-hold2 clearfix">
										<div class="validate-line">
											<input type="text" form-name="searchAddProperties" required ng-model="fullDetails.long_description" validate-type="name" class="input-field " name="long_description">
											<div class="input-wrapper"></div>
											<div class="message"></div>
										</div>
									</span>
								</div>
							</div>
							<div class="form-element clearfix">
								<label for="inputEmail3" class="col-sm-3 pad-zero">Local Info People (Graph Url)</label>
								<div class="col-sm-9 pad-zero">
									<span class="form-hold2 clearfix">
										<div class="validate-line">
											<input type="text" form-name="searchAddProperties" required ng-model="fullDetails.local_info.people_graph_url" validate-type="name" class="input-field " name="people_graph_url">
											<div class="input-wrapper"></div>
											<div class="message"></div>
										</div>
									</span>
								</div>
							</div>
							<div class="form-element clearfix">
								<label for="inputEmail3" class="col-sm-3 pad-zero">Local Info Education (Graph Url)</label>
								<div class="col-sm-9 pad-zero">
									<span class="form-hold2 clearfix">
										<div class="validate-line">
											<input type="text" form-name="searchAddProperties" required ng-model="fullDetails.local_info.education_graph_url" validate-type="name" class="input-field " name="education_graph_url">
											<div class="input-wrapper"></div>
											<div class="message"></div>
										</div>
									</span>
								</div>
							</div>
							<div class="form-element clearfix">
								<label for="inputEmail3" class="col-sm-3 pad-zero">Local Info Council Tax (Graph Url)</label>
								<div class="col-sm-9 pad-zero">
									<span class="form-hold2 clearfix">
										<div class="validate-line">
											<input type="text" form-name="searchAddProperties" required ng-model="fullDetails.local_info.council_tax_graph_url" validate-type="name" class="input-field " name="council_tax_graph_url">
											<div class="input-wrapper"></div>
											<div class="message"></div>
										</div>
									</span>
								</div>
							</div>
							<div class="form-element clearfix">
								<label for="inputEmail3" class="col-sm-3 pad-zero">Local Info Crime (Graph Url)</label>
								<div class="col-sm-9 pad-zero">
									<span class="form-hold2 clearfix">
										<div class="validate-line">
											<input type="text" form-name="searchAddProperties" required ng-model="fullDetails.local_info.crime_graph_url" validate-type="name" class="input-field " name="crime_graph_url">
											<div class="input-wrapper"></div>
											<div class="message"></div>
										</div>
									</span>
								</div>
							</div>
							<div class="form-element clearfix">
								<label for="inputEmail3" class="col-sm-3 pad-zero">Average Area Value (Graph Url)</label>
								<div class="col-sm-9 pad-zero">
									<span class="form-hold2 clearfix">
										<div class="validate-line">
											<input type="text" form-name="searchAddProperties" required ng-model="fullDetails.area_value.average_values_graph_url" validate-type="name" class="input-field " name="average_values_graph_url">
											<div class="input-wrapper"></div>
											<div class="message"></div>
										</div>
									</span>
								</div>
							</div>
							<div class="form-element clearfix">
								<label for="inputEmail3" class="col-sm-3 pad-zero">Area Value Ranges (Graph Url)</label>
								<div class="col-sm-9 pad-zero">
									<span class="form-hold2 clearfix">
										<div class="validate-line">
											<input type="text" form-name="searchAddProperties" required ng-model="fullDetails.area_value.value_ranges_graph_url" validate-type="name" class="input-field " name="value_ranges_graph_url">
											<div class="input-wrapper"></div>
											<div class="message"></div>
										</div>
									</span>
								</div>
							</div>
							<div class="form-element clearfix">
								<label for="inputEmail3" class="col-sm-3 pad-zero">Area Value Trend (Graph Url)</label>
								<div class="col-sm-9 pad-zero">
									<span class="form-hold2 clearfix">
										<div class="validate-line">
											<input type="text" form-name="searchAddProperties" required ng-model="fullDetails.area_value.value_trend_graph_url" validate-type="name" class="input-field " name="value_trend_graph_url">
											<div class="input-wrapper"></div>
											<div class="message"></div>
										</div>
									</span>
								</div>
							</div>
							<div class="form-element clearfix">
								<label for="inputEmail3" class="col-sm-3 pad-zero">Property Type</label>
								<div class="col-sm-9 pad-zero">
									<span class="form-hold2 clearfix">
										<div class="validate-line">
											<select class="input-field" ng-model="fullDetails.property_info" form-name="searchAddProperties">
												<option value="House">House</option>
												<option value="Townhouse">Townhouse</option>
												<option value="Unit">Unit</option>
												<option value="Apartment">Apartment</option>
												<option value="Land">Land</option>
											</select>
											<div class="input-wrapper"></div>
											<div class="message"></div>
										</div>
									</span>
								</div>
							</div>

							<div class="form-element clearfix">
								<label for="inputEmail3" class="col-sm-3 pad-zero">Uploaded Images</label>
								<div class="col-sm-9 pad-zero">
									<span class="form-hold2 clearfix">
										<!-- <div class="validate-line"> -->
											<dl class="dl-horizontal" ng-repeat="(idproofKey, valueidproof) in fullDetails.image_details">
									          <dt>Attachments</dt>
									          <dd><a target="_blank" ng-href="{{valueidproof.image_path}}{{valueidproof.image_name}}">{{valueidproof.image_name}}</a></dd>
									        </dl>
										<!-- </div> -->
									</span>
								</div>
							</div>



							<!-- The file upload form used as target for the file upload widget -->

							<!-- Redirect browsers with JavaScript disabled to the origin page -->
							<noscript><input type="hidden" name="redirect" value="http://blueimp.github.io/jQuery-File-Upload/"></noscript>
							<!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
							<h3>Property Images</h3>
							<div class="row fileupload-buttonbar">
								<div class="col-lg-7">
									<!-- The fileinput-button span is used to style the file input field as button -->
									<span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}">
										<i class="glyphicon glyphicon-plus"></i>
										<span>Add files...</span>
										<input type="file" name="files[]" multiple ng-disabled="disabled">
									</span>
									<!-- <button type="button" class="btn btn-primary start" data-ng-click="submit()">
										<i class="glyphicon glyphicon-upload"></i>
										<span>Start upload</span>
									</button> -->
									<!-- <button type="button" class="btn btn-warning cancel" data-ng-click="cancel()">
										<i class="glyphicon glyphicon-ban-circle"></i>
										<span>Cancel upload</span>
									</button> -->
									<!-- The global file processing state -->
									<span class="fileupload-process"></span>
								</div>
								<!-- The global progress state -->
								<div class="col-lg-5 fade" data-ng-class="{in: active()}">
									<!-- The global progress bar -->
									<div class="progress progress-striped active" data-file-upload-progress="progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
									<!-- The extended global progress state -->
									<div class="progress-extended">&nbsp;</div>
								</div>
							</div>
							<!-- The table listing the files available for upload/download -->
							<table class="table table-striped files ng-cloak">
								<tr data-ng-repeat="file in queue" data-ng-class="{'processing': file.$processing()}">
									<td data-ng-switch data-on="!!file.thumbnailUrl">
										<div class="preview" data-ng-switch-when="true">
											<a data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery><img data-ng-src="{{file.thumbnailUrl}}" alt=""></a>
										</div>
										<div class="preview" data-ng-switch-default data-file-upload-preview="file"></div>
									</td>
									<td>
										<p class="name" data-ng-switch data-on="!!file.url">
											<span data-ng-switch-when="true" data-ng-switch data-on="!!file.thumbnailUrl">
												<a data-ng-switch-when="true" data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery>{{file.name}}</a>
												<a data-ng-switch-default data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}">{{file.name}}</a>
											</span>
											<span data-ng-switch-default>{{file.name}}</span>
										</p>
										<strong data-ng-show="file.error" class="error text-danger">{{file.error}}</strong>
									</td>
									<td>
										<p class="size">{{file.size | formatFileSize}}</p>
										<div class="progress progress-striped active fade" data-ng-class="{pending: 'in'}[file.$state()]" data-file-upload-progress="file.$progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
									</td>
									<td>
										<!-- <button type="button" class="btn btn-primary start" data-ng-click="file.$submit()" data-ng-hide="!file.$submit || options.autoUpload" data-ng-disabled="file.$state() == 'pending' || file.$state() == 'rejected'">
											<i class="glyphicon glyphicon-upload"></i>
											<span>Start</span>
										</button> -->
										<button type="button" class="btn btn-warning cancel" data-ng-click="file.$cancel()" data-ng-hide="!file.$cancel">
											<i class="glyphicon glyphicon-ban-circle"></i>
											<span>Cancel</span>
										</button>
										<button data-ng-controller="FileDestroyController" type="button" class="btn btn-danger destroy" data-ng-click="file.$destroy()" data-ng-hide="!file.$destroy">
											<i class="glyphicon glyphicon-trash"></i>
											<span>Delete</span>
										</button>
									</td>
								</tr>
							</table>

						</div>
                    </div>
					<button class="mc-btn add-property-btn" ng-click="addProperty(queue)" type="submit">ADD & VERIFY PROPERTY</button>
				</div>
			</form>
        </div>
	</div>
</div>