<!DOCTYPE html>
<html ng-app="vcv">
	<head>
		<title>VCV</title>	
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    	<meta charset="utf-8">
    	<link type="text/css" src="libraries/jquery.bxslider.css" >

		<link href="libraries/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="css/style.css" rel="stylesheet" type="text/css">
	
	</head>
	<body class="background-color">
		<div class="page container">
			<div id="overlay"></div>
			<header class="header" role="banner">
				<div class="row">
					<div class="col-md-2">
						<img src="images/vcv-logo2.png">
					</div>
					<div class="col-md-6">
						&nbsp;
					</div>
					<div class="col-md-2">
						<button class="vcv-button btn btn-primary btn-lg" data-toggle="modal" data-target="#sign-up">Sign Up</button>
					</div>
					<div class="col-md-2">
						<button class="vcv-button btn btn-primary btn-lg" data-toggle="modal" data-target="#login">Login</button>
					</div>
				</div>
			</header>
			
			<div class="container adjust-top ">

				<div class="container">
				   <div class="row contact-us">
				   	   <h2>Help</h2>
				       <h4> Do you have any issues? Want to know something contact us through phone, mail or social media</h4>
				      <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 felid">
				                  <!--Your valuable feedback here...-->
				                  <span class="form-hold2 clearfix">
				                  <div class="validate-line">
				                  	 <input type="text" name="fname" class="input-field" placeholder="Your query or valuable feedback here...">
				                     <div class="input-wrapper"></div>
				                     <div class="message"></div>
				                  </div>
				                  </span> <br clear="all">
				                  <!--Your e-mail...-->
				                  <span class="form-hold2 clearfix">
				                  <div class="validate-line">
				                     <input type="text" name="fname" class="input-field" placeholder="Your e-mail...">
				                     <div class="input-wrapper"></div>
				                     <div class="message"></div>
				                  </div>
				                  </span> <br clear="all">
				                  <!--Your phone number...-->
				                  <span class="form-hold2 clearfix">
				                  <div class="validate-line">
				                     <input type="text" name="fname" class="input-field" placeholder="Your phone number...">
				                     <div class="input-wrapper"></div>
				                     <div class="message"></div>
				                  </div>
				                  </span> <br clear="all">
				                  <button type="submit" class="vcv-button">SEND</button>
				                  
				                  <h6>We will get back within 2 working days.</h6>
				      </div>
				      <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 links">
				      	<span class="sprite phone-icon">+919591366626</span></br>
				      	<span class="sprite mail-icon">girish@videoocv.com</span>
				        <br clear="right">
				        <hr>
				        <span class="sprite contact-map-icon"></span>
				        <span class="map-address">
				        	302 Third Floor,Apsara Gold, <br>
				        	Akshaya Nagar,Near DLF town Bangalore,  <br>
				        	Karnataka, India.. <br>
				        </span>
				        </div>
				      </div>
				</div>

      			 <div class="row banner-header">
                		<div class="banner-content">
                    		<h1>Frequently Asked Questions</h1>
                		</div>
       			</div>
			</div>

	<div class="container">
   				<div class="row-contact-us">
   				<h4>Job Seeker's </h4>
   				<li class = "conact-us-li">How does VideoCV work?</li>
					<p>VideoCV is an online career site. The service platform provides innovative online recruitment tools for   companies and jobseekers, making video job posting and finding a job more presentable ,interactive, easy and efficient.  Registered companies can post job postings which jobseekers can then find and apply for. Under no circumstances are we involved in any way in the selection process of the company. Every company uses its own processes and procedures.
                    In order to take full advantage of our services, employers and jobseekers must first register on our website.
                    </p>

                <li class ="conact-us-li">What can I do in after registration? </li>
                	<p>From your Account you can see at a glance your latest applications, your default video Resume, etc. Your Account allows you to see an overview of your activities on the site </p>

                <li class ="conact-us-li">What advantages does Video CV offer Job seekers?</li>

                <p>It helps you to spend time wisely . And Video Cv leaves a strong impression on the Recruiters.</p>

            	<li class ="conact-us-li">How do I apply for a job posting?</li>
            	<p>If you have found an interesting posting and believe that your resume fits with the company's requirements, then you can apply for it by sending them your Video CV & Document (.doc, .pdf etc) resume</p>

            	<li class ="conact-us-li">How can I check the status of my job applications?</li>
                 <p>You can check which stage in the selection process your application has reached by going to "My Account". Under  "My Applications", you will then see one of the following labels next to each entry:
    	               <li class ="conact-us-li">Received: the company has received your Resume but has not yet reviewed it.</li>
	                   <li class ="conact-us-li">In process: you have gone through to the selection stage but it does not mean you have been selected.</li>
	                   <li class ="conact-us-li">Discarded: the company thinks your Resume is not a good match for the position.</li>
	                   <li class ="conact-us-li">Finalist: the company is interested in your Resume and you have to wait for them to contact you to inform you whether or not you have been offered the job.</li></p>

	            <h4>Recruiters</h4>

	            <li class ="conact-us-li">What advantages does Videocv.com offer?</li>
	            <p>You can register and enjoy the following services :-
	 				<li class ="conact-us-li">Post job vacancies with Video Job descriptions in real time at videoocv.com in just a few steps.</li>
					<li class ="conact-us-li">Take total control of your job postings at all times.</li>
					<li class ="conact-us-li">Receive resumes and cover letters in real time</li>
	            </p>

	            <li class ="conact-us-li">How can we register as a company?</li>
	         	<p>From the videoocv.com click on "Employer post a job". Carefully complete the registration form . The fields marked with a red asterisks are compulsory.Once you have completed the process you are then registered and can begin posting vacancies. However, these won't appear on the page until you have received a telephone call from the videoocv.com Customer Service department to validate your registration details. This process is essential in order to assure our job seekers that the companies offering employment are reliable.
				This process only needs to be done once. Once your company details have been finished the registration process you will be able to access My Account using your email and password. Here you can change your login details, edit, modify or delete job postings, and view the resumes of the job seekers  who have responded to your vacancies.</p>

		<li class ="conact-us-li">How do we contact job seekers</li>
		<p>When a candidate applies for your job vacancy, you will receive the application in your private account
		We recommend that you manage the applications you have received by moving them to the appropriate folder (processed, rejected, or finalist) so that you can see at a glance what job seekers are in which stage of the selection process. By moving the applications to the corresponding folders, you also provide information to the candidate who is monitoring the status is the application. If you move someone to the Finalist folder s/he will expect you to contact him/her by e-mail or telephone.You can contact job seekers directly by using the data contained in the application.</p>

		<li class="conatct-us-li">Can we use a quick filter to view the resumes?</li>
		<p>When reviewing the resumes received in response to an offer, you will see a list of all the job seekers and three columns showing their professional experience, education and place of residence. If you select any of these elements, the system will filter the job seekers to only show the details you have specified. The filter works in real time and enables you to quickly view specific details for the job seekers you are most interested in.</p>

		<li class="conatct-us-li">How long can a posting remain online?</li>
		<p>An offer can be posted for 60 days, although this period can also be prolonged if required. When this time expires the offer is autoarchived as "Inactive" and will not be visible to job seekers.If you wish to stop your postings from being removed from the website, you can do this in the 5-day period prior to their expiry date. If you edit the posting during 
		this period, you will have the option to "Renew". Selecting this option will mean your postings will be visible for another 60 days.In the "My job postings" section select the icon "Edit" for the posting you wish to renew.</p>
  		</div>
	</div>

			<div class="full_outer_container">
					<div class="recruiter-slider-section">
					<!-- <marquee behavior="scroll" direction="left">
						<img src="img/vcv/clients-image.png" />
					</marquee> -->
					<div class="slider-wrap">
						<ul class="recruiters">
								
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -63px; width: 100%; height: 35px; padding-bottom: 22px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -3439px; width: 96px; height: 20px; padding-bottom: 22px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2289px; width: 85px; height: 47px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2380px; width: 126px; height: 37px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2755px; width: 78px; height: 37px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2826px; width: 61px; height: 37px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -3110px; width: 90px; height: 37px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -3193px; width: 53px; height: 34px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2504px; width: 75px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2574px; width: 105px; height: 40px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -3242px; width: 100px; height: 33px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -3339px; width: 100px; height: 33px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -3529px; width: 132px; height: 33px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -295px; width: 109px; height: 37px; padding-bottom: 10px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -398px; width: 149px; height: 37px; padding-bottom: 16px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -540px; width: 50px; height: 31px; padding-bottom: 9px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -585px; width: 91px; height: 37px; padding-bottom: 8px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -675px; width: 92px; height: 30px; padding-bottom: 9px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -766px; width: 60px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -824px; width: 90px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -911px; width: 71px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -980px; width: 40px; height: 34px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1016px; width: 67px; height: 37px; padding-top: 10px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1080px; width: 94px; height: 30px; padding-top: 12px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1169px; width: 95px; height: 43px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1262px; width: 149px; height: 36px; padding-top: 12px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1411px; width: 89px; height: 34px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1495px; width: 85px; height: 34px; padding-top: 10px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1577px; width: 106px; height: 34px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1683px; width: 96px; height: 37px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -196px; width: 104px; height: 37px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1773px; width: 67px; height: 34px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1834px; width: 107px; height: 37px; padding-top: 16px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1941px; width: 146px; height: 40px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2118px; width: 95px; height: 37px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2210px; width: 80px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
    							<div style="background-image: url('img/vcv/clients-image.png'?v=1); background-position: -3750px; width: 110px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2886px; width: 230px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2680px; width: 80px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -63px; width: 137px; height: 35px; padding-bottom: 22px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -3439px; width: 96px; height: 20px; padding-bottom: 22px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2289px; width: 85px; height: 47px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2380px; width: 126px; height: 37px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2755px; width: 78px; height: 37px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2826px; width: 61px; height: 37px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -3110px; width: 90px; height: 37px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -3193px; width: 53px; height: 34px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2504px; width: 75px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2574px; width: 105px; height: 40px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -3242px; width: 100px; height: 33px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -3339px; width: 100px; height: 33px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -3529px; width: 132px; height: 33px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -295px; width: 109px; height: 37px; padding-bottom: 10px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -398px; width: 149px; height: 37px; padding-bottom: 16px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -540px; width: 50px; height: 31px; padding-bottom: 9px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -585px; width: 91px; height: 37px; padding-bottom: 8px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -675px; width: 92px; height: 30px; padding-bottom: 9px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -766px; width: 60px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -824px; width: 90px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -911px; width: 71px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -980px; width: 40px; height: 34px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1016px; width: 67px; height: 37px; padding-top: 10px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1080px; width: 94px; height: 30px; padding-top: 12px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1169px; width: 95px; height: 43px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1262px; width: 149px; height: 36px; padding-top: 12px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1411px; width: 89px; height: 34px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1495px; width: 85px; height: 34px; padding-top: 10px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1577px; width: 106px; height: 34px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1683px; width: 96px; height: 37px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -196px; width: 104px; height: 37px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1773px; width: 67px; height: 34px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1834px; width: 107px; height: 37px; padding-top: 16px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1941px; width: 146px; height: 40px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2118px; width: 95px; height: 37px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2210px; width: 80px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
    							<div style="background-image: url('img/vcv/clients-image.png'?v=1); background-position: -3750px; width: 110px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2886px; width: 230px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2680px; width: 80px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -63px; width: 137px; height: 35px; padding-bottom: 22px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -3439px; width: 96px; height: 20px; padding-bottom: 22px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2289px; width: 85px; height: 47px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2380px; width: 126px; height: 37px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2755px; width: 78px; height: 37px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2826px; width: 61px; height: 37px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -3110px; width: 90px; height: 37px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -3193px; width: 53px; height: 34px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2504px; width: 75px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2574px; width: 105px; height: 40px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -3242px; width: 100px; height: 33px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -3339px; width: 100px; height: 33px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -3529px; width: 132px; height: 33px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -295px; width: 109px; height: 37px; padding-bottom: 10px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -398px; width: 149px; height: 37px; padding-bottom: 16px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -540px; width: 50px; height: 31px; padding-bottom: 9px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -585px; width: 91px; height: 37px; padding-bottom: 8px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -675px; width: 92px; height: 30px; padding-bottom: 9px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -766px; width: 60px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -824px; width: 90px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -911px; width: 71px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -980px; width: 40px; height: 34px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1016px; width: 67px; height: 37px; padding-top: 10px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1080px; width: 94px; height: 30px; padding-top: 12px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1169px; width: 95px; height: 43px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1262px; width: 149px; height: 36px; padding-top: 12px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1411px; width: 89px; height: 34px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1495px; width: 85px; height: 34px; padding-top: 10px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1577px; width: 106px; height: 34px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1683px; width: 96px; height: 37px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -196px; width: 104px; height: 37px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1773px; width: 67px; height: 34px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1834px; width: 107px; height: 37px; padding-top: 16px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -1941px; width: 146px; height: 40px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2118px; width: 95px; height: 37px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2210px; width: 80px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
    							<div style="background-image: url('img/vcv/clients-image.png'?v=1); background-position: -3750px; width: 110px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2886px; width: 230px; height: 36px; cursor: pointer;"></div>
							</li>
							<li class="recruiter_logo">
								<div style="background-image: url('images/clients-image.png'); background-position: -2680px; width: 80px; height: 36px; cursor: pointer;"></div>
							</li>
						</ul>
					</div>

					<!-- <div class="row numberings">
					  	<div class="container">
						    <div class="col-md-4 ">
						        <h2>200</h2>
						        <h3>Total Employer's</h3>
						    </div>
						    <div class="col-md-4">
						        <h2>1500</h2>
						        <h3>Employee's benefited</h3>
						    </div>
						    <div class="col-md-4">
						        <h2>6000</h2>
						        <h3>Total Number Of Resumes</h3>
						    </div>
					    </div>
					</div> -->
				</div>
				</div>
			</div>
		</div>

		<footer class="container-fluid">
			<div class="row">
				<div class="col-md-4">
					&nbsp;
				</div>
				<div class="col-md-4">
					<div class="row footer-menu-section">
						<div class="col-md-1">
							&nbsp;
						</div>
						<div class="col-md-10">
							<div class="row footer-content">
								<div class="col-md-4">
									<a href="about-us.html">About Us</a></li>
								</div>
								<div class="col-md-4">
									<a href="about-us.html">How It Works</a></li>
								</div>
								<div class="col-md-4">
									<a href="contact-us.html">Contact us</a></li>
								</div>
							</div>
						</div>						
						<div class="col-md-1">
							&nbsp;
						</div>
					</div>
				</div>
				<div class="col-md-4 copy-right">
					<div class="row">
						<div class="col-md-10 copy-right-text">
							&#169; 2014 VIDEOOCV. ALL RIGHT RESERVED
						</div>
						<div class="col-md-2">
						</div>
					</div>
					
				</div>
			</div>
		</footer>
		<!-- Modal -->
		<div class="modal fade" id="sign-up" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
		      </div>
		      <div class="modal-body">
		      	<form name="sign-up-form" ng-controller="SignUpController">
		      		<label class="label-unbold">
				        <input type="radio" name="user-type" value="seeker" ng-model="signUpData.user_type"/>Job Seeker
				    </label>
				    <label class="label-unbold">
				        <input type="radio" name="user-type" value="recruiter" ng-model="signUpData.user_type"/>Recruiter
				    </label>
				    <br/>
			        <input type="text" class="input-field" placeholder="Username" ng-model="signUpData.username"/><br/>
			        <input type="email" class="input-field" placeholder="E-mail" ng-model="signUpData.email"/><br/>
			        <input type="password" class="input-field" placeholder="Password" ng-model="signUpData.password"/><br/>
			        <input type="password" class="input-field" placeholder="Confirm Password" ng-model="signUpData.confirm_password" /><br/>
			        <button class="vcv-button" ng-click="signUp()">REGISTER</button>
		        </form >
		      </div>
		      <!-- <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary">Save changes</button>
		      </div> -->
		    </div>
		  </div>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">Sign In</h4>
		      </div>
		      <div class="modal-body">
		        <form name="sign-up-form" ng-controller="loginController">
			        <input type="email" class="input-field" placeholder="Username/E-mail" ng-model="loginData.username"/><br/>
			        <input type="password" class="input-field" placeholder="Password" ng-model="loginData.password"/><br/>
			        <button class="vcv-button" ng-click="login()">LOGIN</button>
		        </form >
		      </div>
		      <!-- <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary">Save changes</button>
		      </div> -->
		    </div>
		  </div>
		</div>



		<script type="text/javascript" src="libraries/jquery-1.9.1.js"></script>
		<script src="libraries/bootstrap/js/bootstrap.min.js"></script>
		<script src="libraries/bootstrap/js/bootbox.min.js"></script>

		<script type="text/javascript" src="libraries/jquery.bxslider.js" ></script>
		<script type="text/javascript" src="libraries/angular.js" ></script>
		<script type="text/javascript" src="libraries/angular-route.js"></script>

		<script src="js/marquee.js" type="text/javascript"></script>
		
		<script type="text/javascript" src="js/ng-route.js"></script>
		<script type="text/javascript" src="js/ng-controllers/Register.js"></script>
		<script type="text/javascript" src="js/ng-controllers/login.js"></script>
		<script type="text/javascript" src="js/ng-services/OnSuccess.js"></script>


  </body>

</html>