<!DOCTYPE html>
<html ng-app="dash-app">
	<head>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    	<meta charset="utf-8">
    	<link type="text/css" src="libraries/jquery.bxslider.css" >
		<link href="libraries/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="css/style.css" rel="stylesheet" type="text/css">
	
	</head>
	<body class="background-color">
       <div class="page container" ng-hide="check_verified">
			<div id="overlay"></div>
			<h3>Help us with your Profession</h3>
            <div>
			<p>Welcome to VideooCV, you are required to enter your personal details in order in help us verify and rate your profile. VideooCV Has Certificate Where Recruiter are Not allowed to Share/Leak Your Info. If you see a * next to a field, that item is and always will be confidential.</p>
            </div>
        <form>
			<div class="row step-bar-container">
				<div class="col-md-9">
                	<div class="row">
                        <ul id="tabrow">
    						<li ng-disabled="stepOne"><span class="inner-color"><span class="num-round">1</span> Personal Details</span></li>
    						<li ng-disabled="stepTwo"><span class="inner-color"><span class="num-round">2</span> Job Details</span></li>
                            <li ng-disabled="stepThree"><span class="inner-color"><span class="num-round">3</span> Video Resume</span></li>
    						<li ng-disabled="stepFour"><span class="inner-color"><span class="num-round">4</span> Add More</span></li>
                        </ul>
					</div>
				</div>
				<div class="col-md-3">&nbsp;</div>
			</div>
			<div class="row step-details-container first-step" ng-hide="stepOne">
				<div class="col-md-4">
					<table class="table">
                        <label>Personal Details</label>
                        <br clear="all">
                        <span class="form-hold2 clearfix">
                            <div class="validate-line">
                                <input type="text"  class="input-field" placeholder="Title*" name="title" validate-type="name" ng-model="personalDetails.title"  required validate-on-blur>
                                <div class="input-wrapper"></div>
                                <div class="message"></div>
                            </div>
                        </span> 
                        <br clear="all">

                        <span class="form-hold2 clearfix">
                            <div class="validate-line">
                                <input type="text"  class="input-field" placeholder="First Name*" name="first_name" validate-type="name" ng-model="personalDetails.first_name"  required validate-on-blur form-name="oneStepRegistrationForm">
                                <div class="input-wrapper"></div>
                                <div class="message"></div>
                            </div>
                        </span> 
                        <br clear="all">

                        <span class="form-hold2 clearfix">
                            <div class="validate-line">
                                <input type="text"  class="input-field" placeholder="Middle Name*" name="middle_name" validate-type="name" ng-model="personalDetails.middle_name"  required validate-on-blur form-name="oneStepRegistrationForm">
                                <div class="input-wrapper"></div>
                                <div class="message"></div>
                            </div>
                        </span> 
                        <br clear="all">

                        <span class="form-hold2 clearfix">
                            <div class="validate-line">
                                <input type="text"  class="input-field" placeholder="Surname*" name="last_name" validate-type="name" ng-model="personalDetails.last_name"  required validate-on-blur form-name="oneStepRegistrationForm">
                                <div class="input-wrapper"></div>
                                <div class="message"></div>
                            </div>
                        </span> 
                        <br clear="all">
                        <span class="form-hold2 clearfix">
                            <div class="validate-line">
                                <input type="text"  class="input-field" placeholder="Date of birth*" name="dob" validate-type="name" ng-model="personalDetails.dob"  required validate-on-blur form-name="oneStepRegistrationForm">
                                <div class="input-wrapper"></div>
                                <div class="message"></div>
                            </div>
                        </span> 
                        <br clear="all">
                    </table>
				</div>
				<div class="col-md-4">
					<table class="table">
                        <label>Residential Address</label>
                        <span class="form-hold2 clearfix">
                            <div class="validate-line">
                                <input type="text"  class="input-field" placeholder="House Number*" name="house_no" validate-type="name" ng-model="personalDetails.address.house_no"  required validate-on-blur form-name="oneStepRegistrationForm">
                                <div class="input-wrapper"></div>
                                <div class="message"></div>
                            </div>
                        </span> 
                        <br clear="all">

                        <span class="form-hold2 clearfix">
                            <div class="validate-line">
                                <input type="text"  class="input-field" placeholder="Street Number*" name="street_no" validate-type="name" ng-model="personalDetails.address.street_no"  required validate-on-blur form-name="oneStepRegistrationForm">
                                <div class="input-wrapper"></div>
                                <div class="message"></div>
                            </div>
                        </span> 
                        <br clear="all">
                            
                        <span class="form-hold2 clearfix">
                            <div class="validate-line">
                                <input type="text"  class="input-field" placeholder="Street Name*" name="street_name" validate-type="name" ng-model="personalDetails.address.street_name"  required validate-on-blur form-name="oneStepRegistrationForm">
                                <div class="input-wrapper"></div>
                                <div class="message"></div>
                            </div>
                        </span> 
                        <br clear="all">


                        <span class="form-hold2 clearfix">
                            <div class="validate-line">
                                <input type="text"  class="input-field" placeholder="Suburb*" name="suburb" validate-type="name" ng-model="personalDetails.address.suburb"  required validate-on-blur form-name="oneStepRegistrationForm">
                                <div class="input-wrapper"></div>
                                <div class="message"></div>
                            </div>
                        </span> 
                        <br clear="all">

                        <span class="form-hold2 clearfix">
                            <div class="validate-line">
                                <input type="text"  class="input-field" placeholder="Postcode*" name="postcode" validate-type="name" ng-model="personalDetails.address.postcode"  required validate-on-blur form-name="oneStepRegistrationForm">
                                <div class="input-wrapper"></div>
                                <div class="message"></div>
                            </div>
                        </span> 
                        <br clear="all">

                        <span class="form-hold2 clearfix">
                            <div class="validate-line">
                                <input type="text"  class="input-field" placeholder="City*" name="city" validate-type="name" ng-model="personalDetails.address.city_name"  required validate-on-blur form-name="oneStepRegistrationForm">
                                <div class="input-wrapper"></div>
                                <div class="message"></div>
                            </div>
                        </span> 
                        <br clear="all">

                        <span class="form-hold2 clearfix">
                            <div class="validate-line">
                                <input type="text"  class="input-field" placeholder="State*" name="state" validate-type="name" ng-model="personalDetails.address.state_name"  required validate-on-blur form-name="oneStepRegistrationForm">
                                <div class="input-wrapper"></div>
                                <div class="message"></div>
                            </div>
                        </span> 
                        <br clear="all">
                    </table>
				</div>
				<div class="col-md-4">
					<table class="table">
                    <label>Contact Details</label>
                        <span class="form-hold2 clearfix">
                            <div class="validate-line">
                                <input type="text"  class="input-field" placeholder="Mobile*" name="mobile" validate-type="name" ng-model="personalDetails.mobile"  required validate-on-blur form-name="oneStepRegistrationForm">
                                <div class="input-wrapper"></div>
                                <div class="message"></div>
                            </div>
                        </span> 
                        <br clear="all">
                    </table>
                    <div class="button-container">
                    	<button class="reg-vcv-button" ng-click="stepOneNext()">Next ></button>
                    </div>
				</div>
			</div>
			<div class="row step-details-container second-step" ng-hide="stepTwo">
                <span class="form-hold2 clearfix">
                    <div class="validate-line">
                        <input type="text"  class="search-bar" placeholder="Resume Headline*" name="resume_headline" validate-type="name" ng-model="jobDetails.resume_headline"  required validate-on-blur form-name="oneStepRegistrationForm">
                        <div class="input-wrapper"></div>
                        <div class="message"></div>
                    </div>
                </span> 
                <br clear="all">
				    <div class="col-md-4">
					   <table class="table">
                        
                        <label>Job Details</label>
                         <span class="form-hold2 clearfix">
                            <div class="validate-line">
                                <input type="text"  class="input-field" placeholder="Job Category*" name="job_category" validate-type="name" ng-model="jobDetails.job_category"  required validate-on-blur form-name="oneStepRegistrationForm">
                                <div class="input-wrapper"></div>
                                <div class="message"></div>
                            </div>
                        </span> 
                        <br clear="all">
                        
                         <span class="form-hold2 clearfix">
                            <div class="validate-line">
                                <input type="text"  class="input-field" placeholder="Skill Sets*" name="skill_sets" validate-type="name" ng-model="jobDetails.skill_sets"  required validate-on-blur form-name="oneStepRegistrationForm">
                                <div class="input-wrapper"></div>
                                <div class="message"></div>
                            </div>
                        </span> 
                        <br clear="all">

                        <span class="form-hold2 clearfix">
                            <div class="validate-line">
                                <input type="text"  class="input-field" placeholder="Preferred Location*" name="preferred_location" validate-type="name" ng-model="jobDetails.preferred_location"  required validate-on-blur form-name="oneStepRegistrationForm">
                                <div class="input-wrapper"></div>
                                <div class="message"></div>
                            </div>
                        </span> 
                        <br clear="all">

                        <span class="form-hold2 clearfix">
                            <div class="validate-line">
                                <input type="text"  class="input-field" placeholder="Willing To Re-Locate ?" name="is_relocate" validate-type="name" ng-model="jobDetails.is_relocate"  required validate-on-blur form-name="oneStepRegistrationForm">
                                <div class="input-wrapper"></div>
                                <div class="message"></div>
                            </div>
                        </span> 
                        <br clear="all">

                        <span class="form-hold2 clearfix">
                            <div class="validate-line">
                                <input type="text"  class="input-field" placeholder="Total Experience*" name="total_experience" validate-type="name" ng-model="jobDetails.total_experience"  required validate-on-blur form-name="oneStepRegistrationForm">
                                <div class="input-wrapper"></div>
                                <div class="message"></div>
                            </div>
                        </span> 
                        <br clear="all">

                        <span class="form-hold2 clearfix">
                            <div class="validate-line">
                                <input type="text"  class="input-field" placeholder="Any Comments*" name="comments" validate-type="name" ng-model="jobDetails.comments"  required validate-on-blur form-name="oneStepRegistrationForm">
                                <div class="input-wrapper"></div>
                                <div class="message"></div>
                            </div>
                        </span> 
                        <br clear="all">

                    </table>
				</div>
				<div class="col-md-4">
					<table class="table">
                    <label>Current Employment Details</label>
                        <span class="form-hold2 clearfix">
                            <div class="validate-line">
                                <input type="text"  class="input-field" placeholder="Yearly Salary*" name="yearly_salary" validate-type="name" ng-model="jobDetails.current_emp_details.yearly_salary"  required validate-on-blur form-name="oneStepRegistrationForm">
                                <div class="input-wrapper"></div>
                                <div class="message"></div>
                            </div>
                        </span>
                        <br clear="all">

                        <span class="form-hold2 clearfix">
                            <div class="validate-line">
                                <input type="text"  class="input-field" placeholder="Basis Of Employement Salary*" name="basis_of_employment" validate-type="name" ng-model="jobDetails.current_emp_details.basis_of_employment"  required validate-on-blur form-name="oneStepRegistrationForm">
                                <div class="input-wrapper"></div>
                                <div class="message"></div>
                            </div>
                        </span>
                        <br clear="all">

                        <span class="form-hold2 clearfix">
                            <div class="validate-line">
                                <input type="text"  class="input-field" placeholder="Profession*" name="basis_of_employment" validate-type="name" ng-model="jobDetails.current_emp_details.profession"  required validate-on-blur form-name="oneStepRegistrationForm">
                                <div class="input-wrapper"></div>
                                <div class="message"></div>
                            </div>
                        </span>
                        <br clear="all">

                        <span class="form-hold2 clearfix">
                            <div class="validate-line">
                                <input type="text"  class="input-field" placeholder="Industry*" name="industry" validate-type="name" ng-model="jobDetails.current_emp_details.industry"  required validate-on-blur form-name="oneStepRegistrationForm">
                                <div class="input-wrapper"></div>
                                <div class="message"></div>
                            </div>
                        </span>
                        <br clear="all">

                        <span class="form-hold2 clearfix">
                            <div class="validate-line">
                                <input type="text"  class="input-field" placeholder="Employement Period - Years*" name="employment_period_years" validate-type="name" ng-model="jobDetails.current_emp_details.employment_period_years"  required validate-on-blur form-name="oneStepRegistrationForm">
                                <div class="input-wrapper"></div>
                                <div class="message"></div>
                            </div>
                        </span>
                        <br clear="all">

                        <span class="form-hold2 clearfix">
                            <div class="validate-line">
                                <input type="text"  class="input-field" placeholder="Employement - Months*" name="employment_period_months" validate-type="name" ng-model="jobDetails.current_emp_details.employment_period_months"  required validate-on-blur form-name="oneStepRegistrationForm">
                                <div class="input-wrapper"></div>
                                <div class="message"></div>
                            </div>
                        </span>
                        <br clear="all">

                        <span class="form-hold2 clearfix">
                            <div class="validate-line">
                                <input type="text"  class="input-field" placeholder="Functional Area*" name="functional_area" validate-type="name" ng-model="jobDetails.current_emp_details.functional_area"  required validate-on-blur form-name="oneStepRegistrationForm">
                                <div class="input-wrapper"></div>
                                <div class="message"></div>
                            </div>
                        </span>
                        <br clear="all">

                        <span class="form-hold2 clearfix">
                            <div class="validate-line">
                                <input type="text"  class="input-field" placeholder="Employement Role*" name="employment_role" validate-type="name" ng-model="jobDetails.current_emp_details.employment_role"  required validate-on-blur form-name="oneStepRegistrationForm">
                                <div class="input-wrapper"></div>
                                <div class="message"></div>
                            </div>
                        </span>
                        <br clear="all">

                        

                    </table>
                </div>
                <div class="col-md-4">
                    <table class="table">
                        <label>Upload Resume</label>
                        <span class="form-hold2 clearfix">
                            <div class="validate-line">
                                <div>
                                    <input type="file" class ="vcv-button" name="resume_text">
                                </div>
                                <div class="input-wrapper"></div>
                                <div class="message"></div>
                            </div>
                        </span>
                        <br clear="all">
                    </table>
                </div>
                    <div class="button-container">
                    	<button class="reg-prev-vcv-button" ng-click="stepTwoPrevious()">< Previous</button>
                    	<button class="reg-vcv-button" ng-click="stepTwoNext()">Next > </button>
                    </div>
				</div>
			</div>
            
            <div class="row step-details-container third-step" ng-hide="stepThree">
                    <div class="button-container">
                        <form method = "POST" action = 'upload-video'>
                                <input type="file" class ="vcv-button" name="resume_text">
                                <button class="reg-prev-vcv-button" ng-click="stepTwoPrevious()">< Previous</button>
                                <button class="reg-vcv-button" ng-click="stepThreeNext()">Next ></button>
                        </form>
                    </div>
            </div>
			<div class="row step-details-container fourth-step" ng-hide="stepFour">
				<div class="row">
				<div class="col-md-3 no-padding-col">
					<table class="table">
                        <label>Class 10th Details</label>
                        <span class="form-hold2 clearfix">
                                <div class="validate-line">
                                    <input type="text"  class="input-field" placeholder="Year of Passing*" name="year_of_passing" validate-type="name" ng-model="extraDetails.class_10_details.year_of_passing"  required validate-on-blur form-name="oneStepRegistrationForm">
                                    <div class="input-wrapper"></div>
                                    <div class="message"></div>
                                </div>
                        </span>
                        <br clear="all">

                        <span class="form-hold2 clearfix">
                                <div class="validate-line">
                                    <input type="text"  class="input-field" placeholder="Institute Name*" name="school_name" validate-type="name" ng-model="extraDetails.class_10_details.school_name"  required validate-on-blur form-name="oneStepRegistrationForm">
                                    <div class="input-wrapper"></div>
                                    <div class="message"></div>
                                </div>
                        </span>
                        <br clear="all">

                        <span class="form-hold2 clearfix">
                                <div class="validate-line">
                                    <input type="text"  class="input-field" placeholder="Passing %*" name="passing_percentage" validate-type="name" ng-model="extraDetails.class_10_details.passing_percentage"  required validate-on-blur form-name="oneStepRegistrationForm">
                                    <div class="input-wrapper"></div>
                                    <div class="message"></div>
                                </div>
                        </span>
                        <br clear="all">
                    </table>
				</div>
				<div class="col-md-3 no-padding-col">
					<table class="table">

                        <label>Class 12th Details</label>
                        <span class="form-hold2 clearfix">
                                <div class="validate-line">
                                    <input type="text"  class="input-field" placeholder="Year of Passing*" name="year_of_passing" validate-type="name" ng-model="extraDetails.class_12_details.year_of_passing"  required validate-on-blur form-name="oneStepRegistrationForm">
                                    <div class="input-wrapper"></div>
                                    <div class="message"></div>
                                </div>
                        </span>
                        <br clear="all">

                        <span class="form-hold2 clearfix">
                                <div class="validate-line">
                                    <input type="text"  class="input-field" placeholder="Institute Name*" name="school_name" validate-type="name" ng-model="extraDetails.class_12_details.school_name"  required validate-on-blur form-name="oneStepRegistrationForm">
                                    <div class="input-wrapper"></div>
                                    <div class="message"></div>
                                </div>
                        </span>
                        <br clear="all">

                        <span class="form-hold2 clearfix">
                                <div class="validate-line">
                                    <input type="text"  class="input-field" placeholder="Passing %*" name="passing_percentage" validate-type="name" ng-model="extraDetails.class_12_details.passing_percentage"  required validate-on-blur form-name="oneStepRegistrationForm">
                                    <div class="input-wrapper"></div>
                                    <div class="message"></div>
                                </div>
                        </span>
                        <br clear="all">
                    </table>
				</div>
				<div class="col-md-3 no-padding-col">
					<table class="table">

                        <label>Bachelor's Degree Details</label>
                        <span class="form-hold2 clearfix">
                                <div class="validate-line">
                                    <input type="text"  class="input-field" placeholder="Year of Passing*" name="year_of_passing" validate-type="name" ng-model="extraDetails.b_degree_details.year_of_passing"  required validate-on-blur form-name="oneStepRegistrationForm">
                                    <div class="input-wrapper"></div>
                                    <div class="message"></div>
                                </div>
                        </span>
                        <br clear="all">

                        <span class="form-hold2 clearfix">
                                <div class="validate-line">
                                    <input type="text"  class="input-field" placeholder="Institute Name*" name="school_name" validate-type="name" ng-model="extraDetails.b_degree_details.school_name"  required validate-on-blur form-name="oneStepRegistrationForm">
                                    <div class="input-wrapper"></div>
                                    <div class="message"></div>
                                </div>
                        </span>
                        <br clear="all">

                        <span class="form-hold2 clearfix">
                                <div class="validate-line">
                                    <input type="text"  class="input-field" placeholder="Passing %*" name="passing_percentage" validate-type="name" ng-model="extraDetails.b_degree_details.passing_percentage"  required validate-on-blur form-name="oneStepRegistrationForm">
                                    <div class="input-wrapper"></div>
                                    <div class="message"></div>
                                </div>
                        </span>
                        <br clear="all">
                    </table>
				</div>
				<div class="col-md-3 no-padding-col">
					<table class="table">

                        <label>Project Details</label>
                        <span class="form-hold2 clearfix">
                                <div class="validate-line">
                                    <input type="text"  class="input-field" placeholder="Project Name*" name="project_name" validate-type="name" ng-model="extraDetails.project_details.project_name"  required validate-on-blur form-name="oneStepRegistrationForm">
                                    <div class="input-wrapper"></div>
                                    <div class="message"></div>
                                </div>
                        </span>
                        <br clear="all">

                        <span class="form-hold2 clearfix">
                                <div class="validate-line">
                                    <input type="text"  class="input-field" placeholder="Project Details*" name="project_details" validate-type="name" ng-model="extraDetails.project_details.project_details"  required validate-on-blur form-name="oneStepRegistrationForm">
                                    <div class="input-wrapper"></div>
                                    <div class="message"></div>
                                </div>
                        </span>
                        <br clear="all">

                        <span class="form-hold2 clearfix">
                                <div class="validate-line">
                                    <input type="text"  class="input-field" placeholder="Project Link*" name="project_link" validate-type="name" ng-model="extraDetails.project_details.project_link"  required validate-on-blur form-name="oneStepRegistrationForm">
                                    <div class="input-wrapper"></div>
                                    <div class="message"></div>
                                </div>
                        </span>
                        <br clear="all">
                    </table>
                    
				</div>
				<div class="button-container">
	            	<button class="reg-prev-vcv-button" ng-click="stepfourPrevious()">Previous</button>
                	<button class="reg-vcv-button" ng-click="stepFourSubmit()">Submit </button>
	            </div>
			</div>
	        </div>
          </form>  
		</div>


		<script type="text/javascript" src="libraries/jquery-1.9.1.js"></script>
		<script src="libraries/bootstrap/js/bootstrap.min.js"></script>
		<script src="libraries/bootstrap/js/bootbox.min.js"></script>

		<script type="text/javascript" src="libraries/jquery.bxslider.js" ></script>
		<script type="text/javascript" src="libraries/angular.js" ></script>
		<script type="text/javascript" src="libraries/angular-route.js"></script>

		<script src="js/marquee.js" type="text/javascript"></script>
		
		<!-- // <script type="text/javascript" src="js/ng-route.js"></script> -->
        <script type="text/javascript" src="js/dashboard-app.js"></script>
		 <script type="text/javascript" src="js/ng-controllers/complete_registration.js"></script>
		
  </body>

</html>