<!DOCTYPE html>
<html ng-app="propertyProfilePage">
	<head>
		<title>VCV</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="css/main.css" rel="stylesheet">
		<link href="css/main2.css" rel="stylesheet">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="fonts/stylesheet.css" type="text/css" charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap-select.css">
		<link href="js/pnotify/jquery.pnotify.default.css" media="all" rel="stylesheet" type="text/css" />
		<!-- Include this file if you are using PIcons. -->
		<link href="js/pnotify/icons/jquery.pnotify.default.icons.css" media="all" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery.ui.all.css">
		<link href="js/datepicker/css/datepicker.css" media="all" rel="stylesheet" type="text/css" />
		<script src="./js/jquery2.js" type="text/javascript"></script>
		<link rel="stylesheet" href="js/image-slider/css/prettyPhoto.css" type="text/css" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" />
		<script src="js/image-slider/js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="js/jquery.imgpreload.js"></script>

		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgcQb0DBpWR0d6QYnmMiCSfQ5AGeP9Vj8&sensor=false"></script>

		
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
			  <![endif]-->
	</head>
	<body  ng-controller="propertyProfileDuringAuction" ng-cloak>
		<!----------------------------DASHBOARD Header---------------------------->
		<div class="mc-header clearfix" ng-show="isLogged">
			<div class="mc-logo">
				<a href="index.html"><img src="img/vcv.png"></a>
			</div>
			<div class="notification-borrower">
				<div class="media profileImage"> <!-- <a class="pull-left" href="#"> <img class="media-object" src="{{dashboardData.image}}" alt="..."> </a> -->
					<div class="media-body">
						<h4 class="media-heading">{{dashboardData.username}}</h4>
						<b class="caret"></b> </div>
				</div>
				<div class="quick-menu-dropdown">
					<ul>
						<!-- <li><a href="#"> <span class="qucik-menu profile-icon"></span> <span class="text-block"> <span class="head-text">Change Profile Picture</span> </span> </a> </li>
						<li><a href="#"> <span class="qucik-menu password-icon"></span> <span class="text-block"> <span class="head-text">Change Password</span> </span> </a> </li>
						<li><a href="#"> <span class="qucik-menu member-icon"></span> <span class="text-block"> <span class="head-text">Upgrade Membership</span> </span> </a> </li> -->
						<li ng-click="logout()"><a href="#"> <span class="qucik-menu member-icon"></span> <span class="text-block"> <span class="head-text">Logout</span> </span> </a> </li>
					</ul>
				</div>
			</div>
			<div class="single-dashboard">
				<a href="dashboard.html" ng-hide="dashboardData.user_type == 'admin'">DASHBOARD</a>
				<a href="adminDashboard.html" ng-show="dashboardData.user_type == 'admin'">DASHBOARD</a>
			</div>
		</div>
		<!---------------------------- DASHBOARD IN Header---------------------------->

		<div class="spinner hide" id="overlay"></div>
		<div class="container">
			<div class="row">
				<button type="submit" class="mc-btn your-properties-btn" ng-click="backToProperties()"><span class="sprite ur-pro-icon"></span>YOUR PROPERTIES</button>
			</div>
		</div>

		<div class="row">
			<!-- Googlemap -->
			<div id="map_canvas"></div>
			<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d972.1655535079188!2d77.58493350522883!3d12.929418511637612!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1596e881a9d9%3A0x3e559160d1fc178f!2sLangoor%2C+Jayanagar+4+Block%2C+Jayanagar%2C+Bangalore%2C+Karnataka!5e0!3m2!1sen!2sin!4v1389763915531" width="100%" height="350" frameborder="0" style="border:0"></iframe> -->

			<!--map-over-->
			<div class="container map-over-hold">
				<div class="map-over">
					<span class="map-over-shadow"></span>
						<h3>Video Resume</h3>
						 <video ng-src="{{propertyData.videoresume}}" controls></video>
	          	</div>
			</div>
		</div>


		<!--start auction-property-modal-->
		<!-- <div class="modal fade bid-property-modal" id="startAuctionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Start Auction </h4>
					</div>
					<div class="modal-body">
						<div class="main-form">

							<label>Expiry Date</label>
							<br clear="all">
							<span class="form-hold2 clearfix">
								<div class="validate-line">
									<input type="text" placeholder="mm/dd/yyyy" class="datepicker input-field" name="fname" ng-model="expiryDate" style="width:368px !important">
									<div class="input-wrapper"></div>
									<div class="message"></div>
									 </div>
							</span> <br clear="all">
							<label>Comments</label>
							<br clear="all">
							<span class="form-hold2 clearfix">
								<div class="validate-line">
									<input type="text" class="input-field" name="fname" ng-model="comments">
									<div class="input-wrapper"></div>
									<div class="message"></div>
								</div>
							</span> <br clear="all">
							<button data-dismiss="modal" type="submit" class="mc-btn bid-property-btn" ng-click="startAuction()">START AUCTION!</button>
						</div>
					</div>
				</div>
			</div>
		</div> -->


		<!--bid-property-modal-->
		<!-- <div class="modal fade bid-property-modal" id="placeBidModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Place Bids</h4>
					</div>
					<div class="modal-body">
						<form name="bidNowForm">
							<div class="main-form">
								<label>Floating Rates</label>
								<br clear="all">
								<span class="form-hold2 clearfix">
									<div class="validate-line">
										<input type="text" class="input-field" name="fname" ng-model="bidFormData.rate_of_interest">
										<div class="input-wrapper"></div>
										<div class="message"></div>
									</div>
								</span> <br clear="all">
								<label>Markup Permium</label>
								<br clear="all">
								<span class="form-hold2 clearfix">
									<div class="validate-line">
										<input type="text" class="input-field" name="fname" ng-model="bidFormData.mark_up_premium">
										<div class="input-wrapper"></div>
										<div class="message"></div>
									</div>
								</span> <br clear="all">

								<label>Early Refinance Penalty</label>
								<br clear="all">
								<span class="form-hold2 clearfix">
									<div class="validate-line">
										<input type="text" class="input-field" name="fname" ng-model="bidFormData.early_refinance_penalty">
										<div class="input-wrapper"></div>
										<div class="message"></div>
									</div>
								</span> <br clear="all">
								<label>Tennure</label>
								<br clear="all">
								<span class="form-hold2 clearfix">
								   <div class="validate-line">
									<input type="text" class="input-field" name="fname" ng-model="bidFormData.tennure">
									<div class="input-wrapper"></div>
									<div class="message"></div>
								</div>
							</span> <br clear="all">
								<label>Comments</label>
								<br clear="all">
								<span class="form-hold2 clearfix">
									<div class="validate-line">
										<input type="text" class="input-field" name="fname" ng-model="bidFormData.comments">
										<div class="input-wrapper"></div>
										<div class="message"></div>
									</div>
								</span> <br clear="all">
								<button data-dismiss="modal" type="submit" class="mc-btn bid-property-btn" ng-click="clickBidNow()">BID NOW!</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div> -->

		<!--bid-property-images-->
		<!-- <div class="row bid-property">
			<div class="container" align="center">
				<ul>
					<li ng-repeat="image in propertyData.property_in_details.images"><img src="{{image}}"></li>
				</ul>

			</div>
		</div> -->


		<!--Content starts-->
		<div class="container" align="center">
			<div class="row">
				<div class="col-lg-9 col-md-8 col-sm-6 col-xs-12"><br>
					<ul class="nav nav-tabs propertyProfileTabs">
						<li class="active" id="MCsent">
							<a href="#borowerInfoTab" target="_self" data-toggle="tab">User Info</a>
						</li>
						<li id="MCinbox">
							<a href="#investorProposalTab" target="_self" data-toggle="tab">EmployeMent Details </a>
						</li>
						<li id="MCtrash">
							<a href="#calculatorTab" target="_self" data-toggle="tab">More Details</a>
						</li> 
					</ul>

					<div class="tab-content propertyProfileTabContent">
						<!-- about profile -->
						<div id="borowerInfoTab" class="property-profile clearfix tab-pane in active fade" >
							<h5><span class="sprite property-profile-icon "></span></h5>
							<div class="borrowers-profile clearfix" >
								<span class="borrowers-profile-name">
									<h4>{{propertyData.user_details.first_name}}</h4>
								</span>
							</div>
							<h5>About</h5>
								<p>Resume Headline &nbsp;&nbsp;{{propertyData.jobseeker.resume_headline}}</p>
								<p>Category   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{propertyData.jobseeker.job_category}}</p>
								<p>Skill Sets &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{propertyData.jobseeker.skill_sets}}</p>
								<p>Preferred Location &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{propertyData.jobseeker.preferred_location}}</p>
								<p>Total Expereince &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{propertyData.jobseeker.total_experience}}</p>
								<p>Willing To Relocate &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{propertyData.jobseeker.is_relocate}}</p>							
							<h5>Address</h5>
							<p>{{propertyData.address.street_no}} {{propertyData.address.street_name}}, {{propertyData.address.area}},<br>{{propertyData.address.city_name}} - {{propertyData.address.postcode}} <br>{{propertyData.address.state_name}}.</p>
							<h5>Phones</h5>
							<p>{{propertyData.phones.phone_number}}</p>
							<h5>Personal Details</h5>
							<p>Email Id &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{propertyData.user_details.email}}</p>
						</div>

						<!-- investor Proposals -->
						<div id="investorProposalTab" class="tab-pane fade property-profile">
								<div class="investor-proposals-main">
									<h5>Current Employment Details</h5>
									<div class="investor-holder clearfix">
										<ul class="head-section">
											<li>Employment<br>Type</li>
											<li>Profession</li>
											<li>Industry</li>
											<li>Yearly<br>Salary</li>
											<li>Employment<br>Period</li>
											<li>Employment<br>Role</li>
										</ul>
										<ul class="inner-section">
											<li>{{propertyData.currentemp.employment_status}}</li>
											<li>{{propertyData.currentemp.profession}}</li>
											<li>{{propertyData.currentemp.industry}}</li>
											<li>{{propertyData.currentemp.yearly_salary}}</li>
											<li>{{propertyData.currentemp.employment_period}}</li>
											<li>{{propertyData.currentemp.employment_role}}</li>
										</ul>
									</div>
									<h5>Previous Employment Details</h5>
									<div class="investor-holder clearfix">
										<ul class="inner-section"  ng-repeat="investor in propertyData.prioremp">
											<li>{{investor.employment_status}}</li>
											<li>{{investor.profession}}</li>
											<li>{{investor.industry}}</li>
											<li>{{investor.yearly_salary}}</li>
											<li>{{investor.employment_period}}</li>
											<li>{{investor.employment_role}}</li>
										</ul>
									</div>
								</div>
						</div>

						<!-- Investor Comparision Calculator -->
						<div id="calculatorTab"  class="tab-pane fade property-profile" ng-hide="dashboardData.user_type == 'admin'">   
							<div class="" ng-controller="investorComparisionCalculator" ng-show="propertyData.is_borrower">
								<div class="row calculator property-calc">
									<div class="col-lg-6 CalFieldsBlock">
										<h2>Investor Comparision Calculator</h2>

										<!--Loan Terms-->
										<div class="calculatorFieldsBox">
											<label class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Loan Terms(in years)</label>
											<span class="form-hold2 clearfix">
												<div class="validate-line">
													<input type="text" class="input-field" name="fname" ng-model="investorComparisionFields.loanterms">
													<div class="input-wrapper"></div>
													<div class="message"></div>
												</div>
											</span></div> <div class="clearfix"></div>

										<!--Property Price-->
										<div class="calculatorFieldsBox">
											<label class="col-lg-4 col-md-4 col-sm-4 col-xs-4">House Price</label>
											<span class="form-hold2 clearfix">
												<div class="validate-line">
													<input type="text" class="input-field" name="fname" ng-model="investorComparisionFields.houseprice">
													<div class="input-wrapper"></div>
													<div class="message"></div>
												</div>
											</span></div><div class="clearfix"></div>

										<div class="calculatorFieldsBox">
											<label class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Your Deposit</label>
											<span class="form-hold2 clearfix">
												<div class="validate-line">
													<input type="text" class="input-field" name="fname" ng-model="investorComparisionFields.yourdeposit">
													<div class="input-wrapper"></div>
													<div class="message"></div>
												</div>
											</span></div> <div class="clearfix"></div>

										<div class="calculatorFieldsBox">
											<label class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Estimated Stamp Duty / Closing Costs*</label>
											<span class="form-hold2 clearfix">
												<div class="validate-line">
													<input type="text" class="input-field" name="fname" ng-model="investorComparisionFields.estimatedcosts">
													<div class="input-wrapper"></div>
													<div class="message"></div>
												</div>
											</span></div> <div class="clearfix"></div>
										
										<h5>Investor 1</h5>	
									<!-- 	<div class="calculatorFieldsBox">
											<label class="col-lg-4 col-md-4 col-sm-4 col-xs-4">&nbsp;</label>
											<span class="col-lg-4 col-md-3 col-sm-3 col-xs-3 calculatorResult"> Investor 1 </span>
											<span class="col-lg-4 col-md-3 col-sm-3 col-xs-3 calculatorResult"> Investor 2 </span>
										</div>
										<div class="clearfix"></div> -->

										<!--Markup Premium-->
										<div class="calculatorFieldsBox">
											<label class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Enter Borrower Mark up %</label>
											<span class="form-hold2 clearfix">
												<div class="validate-line pull-left">
													<input type="text" ng-model="investorComparisionFields.borrowemarkup" name="fname" class="input-field">
													<div class="input-wrapper"></div>
													<div class="message"></div>
												</div>
												<!-- <div class="validate-line pull-right">
													<input type="text" ng-model="investorComparisionFields.borrowemarkup2" name="fname" class="input-field">
													<div class="input-wrapper"></div>
													<div class="message"></div>
												</div> -->
											</span></div><div class="clearfix"></div>

										<!--Floating Rate-->
										<div class="calculatorFieldsBox">
											<label class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Interest Rate</label>
											<span class="form-hold2 clearfix">
												<div class="validate-line pull-left">
													<input type="text" ng-model="investorComparisionFields.interestrate" name="fname" class="input-field">
													<div class="input-wrapper"></div>
													<div class="message"></div>
												</div>
												<!-- <div class="validate-line pull-right">
													<input type="text" ng-model="investorComparisionFields.interestrate2" name="fname" class="input-field">
													<div class="input-wrapper"></div>
													<div class="message"></div>
												</div> -->
											</span></div><div class="clearfix"></div>

										<h5>Investor 2</h5>	

										<!--Markup Premium-->
										<div class="calculatorFieldsBox">
											<label class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Enter Borrower Mark up %</label>
											<span class="form-hold2 clearfix">
												<!-- <div class="validate-line pull-left">
													<input type="text" ng-model="investorComparisionFields.borrowemarkup" name="fname" class="input-field">
													<div class="input-wrapper"></div>
													<div class="message"></div>
												</div> -->
												<div class="validate-line pull-right">
													<input type="text" ng-model="investorComparisionFields.borrowemarkup2" name="fname" class="input-field">
													<div class="input-wrapper"></div>
													<div class="message"></div>
												</div>
											</span></div><div class="clearfix"></div>

										<!--Floating Rate-->
										<div class="calculatorFieldsBox">
											<label class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Interest Rate</label>
											<span class="form-hold2 clearfix">
												<!-- <div class="validate-line pull-left">
													<input type="text" ng-model="investorComparisionFields.interestrate" name="fname" class="input-field">
													<div class="input-wrapper"></div>
													<div class="message"></div>
												</div> -->
												<div class="validate-line pull-right">
													<input type="text" ng-model="investorComparisionFields.interestrate2" name="fname" class="input-field">
													<div class="input-wrapper"></div>
													<div class="message"></div>
												</div>
											</span></div><div class="clearfix"></div>

												
										<br>
										<div class="clearfix">
											<button ng-click="investorComparisionValues()" class="mc-btn start-auction-btn4">Calculate</button>
										</div>
									</div>
									<div class="col-lg-6 calculatorResultsBox" ng-show="investorComparisionResult">
										<h2 class="resultsHead">Results</h2>
										<label class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Mortgage Amount </label>
										<span class="calculatorResult col-lg-3 col-md-3 col-sm-3 col-xs-3">{{mortgageamount}}</span>
										<span class="calculatorResult col-lg-3 col-md-3 col-sm-3 col-xs-3">{{mortgageamount2}}</span>
										<div class="clearfix"></div>
										<label class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Monthly Repayments </label>
										<span class="calculatorResult col-lg-3 col-md-3 col-sm-3 col-xs-3">{{monthlyrepayments}}</span>
										<span class="calculatorResult col-lg-3 col-md-3 col-sm-3 col-xs-3">{{monthlyrepayments2}}</span>
										<hr>
									</div>
								</div>
							</div>


							<!-- investor profit calculator -->

							<div class="">
								<div class="">
									<div class="calculator property-calc" ng-controller="investorProfitCalculator" ng-hide="propertyData.is_borrower">
										<h2>Investor Profit Calculator</h2>
										<div></div>

										<div class="col-lg-6 CalFieldsBlock">
											<!--Loan Terms-->
											<div class="calculatorFieldsBox">
												<label class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Loan Terms(in years)</label>
												<span class="form-hold2 clearfix">
													<div class="validate-line">
														<input type="text" class="input-field" name="fname" ng-model="investorProfitFields.loanterms">
														<div class="input-wrapper"></div>
														<div class="message"></div>
													</div>
												</span></div> <div class="clearfix"></div>

											<div class="calculatorFieldsBox">  
												<label class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Estimated Borrower Refinance Term (Years)</label>
												<span class="form-hold2 clearfix">
													<div class="validate-line">
														<input type="text" class="input-field" name="fname" ng-model="investorProfitFields.estimatedborrowerrefinance">
														<div class="input-wrapper"></div>
														<div class="message"></div>
													</div>
												</span></div> <div class="clearfix"></div>

											<!--Property Price-->
											<div class="calculatorFieldsBox">
												<label class="col-lg-4 col-md-4 col-sm-4 col-xs-4">House Price</label>
												<span class="form-hold2 clearfix">
													<div class="validate-line">
														<input type="text" class="input-field" name="fname" ng-model="investorProfitFields.houseprice">
														<div class="input-wrapper"></div>
														<div class="message"></div>
													</div>
												</span></div> <div class="clearfix"></div>

											<!-- <div class="calculatorFieldsBox">  
												<label class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Your Deposit</label>
												<span class="form-hold2 clearfix">
													<div class="validate-line">
														<input type="text" class="input-field" name="fname" ng-model="investorProfitFields.yourdeposit">
														<div class="input-wrapper"></div>
														<div class="message"></div>
													</div>
												</span></div> <div class="clearfix"></div> -->

											<div class="calculatorFieldsBox">
												<label class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Estimated Stamp Duty / Transfer Costs / Closing Costs*</label>
												<span class="form-hold2 clearfix">
													<div class="validate-line">
														<input type="text" class="input-field" name="fname" ng-model="investorProfitFields.estimatedcosts">
														<div class="input-wrapper"></div>
														<div class="message"></div>
													</div>
												</span></div> <div class="clearfix"></div>

											<div class="calculatorFieldsBox">
												<label class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Borrower Deposit (less borrower closing costs)</label>
												<span class="form-hold2 clearfix">
													<div class="validate-line">
														<input type="text" ng-model="investorProfitFields.borrowerdeposit" name="fname" class="input-field">
														<div class="input-wrapper"></div>
														<div class="message"></div>
													</div>
												</span></div> <div class="clearfix"></div>

											<div class="">  
												<label class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Your Deposit</label><div class="clearfix"></div>
												<span class="form-hold2 clearfix pull-left" style="margin: 8px 0px !important">
													<div class="validate-line">
														<input type="text" class="input-field" name="fname" ng-model="investorProfitFields.yourdeposit">
														<div class="input-wrapper"></div>
														<div class="message"></div>
													</div>
												</span></div> <div class="clearfix"></div>  

											<div class="">  
												<label class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Enter Borrower Mark up %</label><div class="clearfix"></div>
												<span class="form-hold2 clearfix pull-left" style="margin: 8px 0px !important">
													<div class="validate-line">
														<input type="text" ng-model="investorProfitFields.borrowemarkup" name="fname" class="input-field">
														<div class="input-wrapper"></div>
														<div class="message"></div>
													</div>
												</span></div> <div class="clearfix"></div> 


											<!--Floating Rate-->
											<div class="calSideHead"><b>FLOATING POINT RATE</b></div><div class="clearfix"></div>
											<div class="">  
												<label class="col-lg-4 col-md-4 col-sm-4 col-xs-4">From bank(%)</label><div class="clearfix"></div>
												<span class="form-hold2 clearfix pull-left" style="margin: 8px 0px !important">
													<div class="validate-line">
														<input type="text" ng-model="investorProfitFields.interestrate" name="fname" class="input-field">
														<div class="input-wrapper"></div>
														<div class="message"></div>
													</div>
												</span></div> <div class="clearfix"></div> 

											<div class="">  
												<label class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Lending to borrower at(%)</label><div class="clearfix"></div>
												<span class="form-hold2 clearfix pull-left" style="margin: 8px 0px !important">
													<div class="validate-line">
														<input type="text" ng-model="investorProfitFields.investorinterestrate" name="fname" class="input-field">
														<div class="input-wrapper"></div>
														<div class="message"></div>
													</div>
												</span></div> <div class="clearfix"></div> 

											<br><div class="clearfix">
												<button ng-click="investorProfitValues()" class="mc-btn start-auction-btn4">Calculate</button>
											</div>
										</div>
										<div class="calculatorResultsBox col-lg-6" style="padding:6px" ng-show="investorProfitResult">
											<h2 class="resultsHead">Results</h2>
											<label class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Mortgage Amount </label>
											<div class="col-lg-8">
												<span class="calculatorResult col-lg-4 col-md-3 col-sm-3 col-xs-3">{{borrowermortgageamount}}</span>
												<span class="calculatorResult col-lg-4 col-md-3 col-sm-3 col-xs-3">{{investormortgageamount}}</span>
												<span class="calculatorResult col-lg-4 col-md-3 col-sm-3 col-xs-3">{{mortgageamountdifference}}</span>
											</div>
											<div class="clearfix"></div>

											<label class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Monthly Repayments </label>
											<div class="col-lg-8">
												<span class="calculatorResult col-lg-4 col-md-3 col-sm-3 col-xs-3">{{borrowermonthlyrepayments}}</span>
												<span class="calculatorResult col-lg-4 col-md-3 col-sm-3 col-xs-3">{{investormonthlyrepayments}}</span>
												<span class="calculatorResult col-lg-4 col-md-3 col-sm-3 col-xs-3">{{monthlyrepaymentsdifference}}</span>
											</div>
											<div class="clearfix"></div>

											<label class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Yearly Repayments </label>
											<div class="col-lg-8">
												<span class="calculatorResult col-lg-4 col-md-3 col-sm-3 col-xs-3">{{borroweryearlyrepayment}}</span>
												<span class="calculatorResult col-lg-4 col-md-3 col-sm-3 col-xs-3">{{investoryearlyrepayment}}</span>
												<span class="calculatorResult col-lg-4 col-md-3 col-sm-3 col-xs-3">{{yearlyrepaymentdifference}}</span>
											</div>
											<div class="clearfix"></div>
											<hr>

											<label class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Estimated return on investment (PA) </label>
											<span class="calculatorResult col-lg-3 col-md-3 col-sm-3 col-xs-3">{{returninvestment}}%</span>
											<div class="clearfix"></div>

											<label class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Estimated profit over investment term </label>
											<span class="calculatorResult col-lg-3 col-md-3 col-sm-3 col-xs-3">{{investmentprofit}}</span>
											<div class="clearfix"></div>
											<label class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Backend profit on borrower refinance. </label>
											<span class="calculatorResult col-lg-3 col-md-3 col-sm-3 col-xs-3">{{borrowerrefinance}}</span>
											<div class="clearfix"></div>
										</div><br>
										<div class="clearfix"></div>


									</div>
								</div>
							</div>

						</div>

						
						<div id="InvestorInfoTab" class="property-profile clearfix tab-pane in active fade" ng-show="propertyData.property_sale == 'true'">
							<!--borrowers-profile-->
							<h5><span class="sprite property-profile-icon "></span>Investor' Profile</h5>
							<div class="borrowers-profile clearfix">
								<span class="borrowers-profile-image-hold">
									<!-- <span class="borrowers-profile-image">
										<img src="{{propertyData.user_details.image}}">
									</span> -->
									<span class="borrowers-profile-image">
										<img ng-hide="propertyData.image1 == NULL" src="{{propertyData.image1}}">
									</span>
								</span>
								<span class="borrowers-profile-name">
									<h4>{{propertyData.user_details.username}}</h4>
									<span class="grade">{{propertyData.user_details.credit_rating}}</span>
								</span>
							</div>
							<!--About-->
							<h5>Type Of Sale</h5>
							<p>{{propertyData.property_in_details.sale_type}}</p>
							<!--About-->
							<h5>Interest Rate</h5>
							<p>${{propertyData.property_in_details.sale_interest_rate}}</p>

							<h5>Deposit Amount</h5>
							<p>${{propertyData.property_in_details.deposit_amount}}</p>

							<h5>Rent Amount</h5>
							<p>${{propertyData.property_in_details.rent_amount}}</p>

							<h5>Rent To Own Amount</h5>
							<p>${{propertyData.property_in_details.rent_to_own_amount}}</p>

							<!--About-->
							<h5>Early Exit Penalty</h5>
							<p>${{propertyData.property_in_details.sale_refianance_penalty}}</p>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<!-- <div class="auction-details" ng-show="propertyData.is_auction">
						<h5>Auction details</h5>
						<h6>Auction will expire on</h6>
						<h4>{{propertyData.auction_details.auction_expiry_date}}</h4>
						<h6>Borrower's comment : {{propertyData.auction_details.auction_comments}}</h6>
					</div> -->

					<br>
					<!--Calculator-->

				</div>
			</div>
		</div>

		<div class="modal fade signup-modal" id="areaValueModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Area Value</h4>
					</div>
					<div class="modal-body">
						<h5>Average Values</h5>
						<p class="graphIframeContainer"><iframe id="averageValue" src=""></iframe></p>
						<h5>Range Values</h5>
						<p class="graphIframeContainer"><iframe id="rangeValues" src=""></iframe></p>
						<h5>Trending Values</h5>
						<p class="graphIframeContainer"><iframe id="trendingValues" src=""></iframe></p>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade signup-modal" id="localInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Local Info</h4>
					</div>
					<div class="modal-body">
						<h5>People Graph</h5>
						<p class="graphIframeContainer"><iframe id="peoplegraph" src=""></iframe></p>
						<h5>Educational Graph</h5>
						<p class="graphIframeContainer"><iframe id="educationgraph" src=""></iframe></p>
						<h5>Council Tax Graph</h5>
						<p class="graphIframeContainer"><iframe id="counciltax" src=""></iframe></p>
						<h5>Crime Graph</h5>
						<p class="graphIframeContainer"><iframe id="crimegraph" src=""></iframe></p>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade signup-modal" id="areaViewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Area Viewing</h4>
					</div>
					<div class="modal-body">
						<form name="areaViewForm">
							<div class="main-form">
								<label>Name</label>
								<br clear="all">
								<span class="form-hold2 clearfix">
									<div class="validate-line">
										<input type="text" required class="input-field" ng-model="areaViewData.name" name="username">
										<div class="input-wrapper"></div>
										<div class="message"></div>
									</div>
								</span>
								<label>Email</label>
								<br clear="all">
								<span class="form-hold2 clearfix">
									<div class="validate-line">
										<input type="text" required class="input-field" ng-model="areaViewData.email" name="username">
										<div class="input-wrapper"></div>
										<div class="message"></div>
									</div>
								</span>
								<label>Phone</label>
								<br clear="all">
								<span class="form-hold2 clearfix">
									<div class="validate-line">
										<input type="text" required class="input-field" ng-model="areaViewData.phone" name="username">
										<div class="input-wrapper"></div>
										<div class="message"></div>
									</div>
								</span>
								<br clear="all">
								<label>Phone type</label>
								<br clear="all">
								<span class="form-hold2 clearfix">
									<div class="validate-line">
										<input type="text" required class="input-field" ng-model="areaViewData.phone_type" name="username">
										<div class="input-wrapper"></div>
										<div class="message"></div>
									</div>
								</span>
								<br clear="all">
								<label>Best time to call</label>
								<br clear="all">
								<span class="form-hold2 clearfix">
									<div class="validate-line">
										<select class="input-field" ng-model="areaViewData.best_time_to_call">
											<option value="Anytime">Anytime</option>
											<option value="Morning">Morning</option>
											<option value="Afternoon">Afternoon</option>
											<option value="Evening">Evening</option>
										</select>  
										<div class="input-wrapper"></div>
										<div class="message"></div>
									</div>
								</span>
								<br clear="all">
								<label>Message</label>
								<br clear="all">
								<span class="form-hold2 clearfix">
									<div class="">
										<textarea required class="input-field" ng-model="areaViewData.message" name="username"></textarea>
										<div class="input-wrapper"></div>
										<div class="message"></div>
									</div>
								</span>
								<br clear="all">
								<button type="submit" ng-click="sendAreaViewingData()" class="mc-btn bid-property-btn">Send</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script src="./js/angular.min.js" type="text/javascript"></script>
		<script src="./js/angular-route.js" type="text/javascript"></script>
		<script src="js/bootstrap.min.js"></script> 
		<script type="text/javascript" src="js/bootstrap-select.js"></script> 
	    <script src=" http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>
		<script type="text/javascript">
			$(window).on('load', function () {

				$('.selectpicker').selectpicker({
					'selectedText': 'cat'
				});

				// $('.selectpicker').selectpicker('hide');
			});
			jQuery(document).ready(function() {
				console.log("Ssdsd")
				// $(".gallery:first a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'normal',theme:'light_square',slideshow:3000, autoplay_slideshow: true});
				// $("a[rel^='prettyPhoto']").prettyPhoto();
			})
		</script> 
		<script type="text/javascript">
			var url = $(location).attr('href');
			var matches = url.match(/#([a-zA-Z0-9]+)/);
			var lastOne = matches.length - 1;
			var id = matches[lastOne];
			var sendingId = {'property_id':id};
			var sendingUrl = 'userDetails?user_id='+id;

			$(window).on('load', function () {
				$('.selectpicker').selectpicker({
				});
			});
		</script> 
		<script src=" http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>
		<script src="js/datepicker/js/bootstrap-datepicker.js"></script>
		<script type="text/javascript" src="js/pnotify/jquery.pnotify.js"></script> 
		<script type="text/javascript">
			jQuery(document).ready(function() {
				$.pnotify.defaults.styling = "jqueryui";
			});
		</script>     
		<script type="text/javascript">
		var profilePageApp = angular.module('propertyProfilePage', []);

		function propertyProfileDuringAuction($scope, $http){
			$scope.dashboardData = {};
			$scope.isLogged = false;
			$scope.isNotLogged = false;

			jQuery('#overlay').removeClass('hide');

			$http({
				method: 'GET',
				url: '/getUserBasicDetails'
			}).success(function (data) {
				jQuery('#overlay').addClass('hide');
				console.log(data);
				jQuery('#overlay').addClass('hide');
				$scope.dashboardData = data.data;
				if (data.status_code == 401 || data.status_code == '401') {
					$scope.isLogged = false;
					$scope.isNotLogged = true;
				} else {
					$scope.isLogged = true;
					$scope.isNotLogged = false;
				}
			});
			$scope.forgotPasswordData = {
				"email" : ""
			};

			$scope.forgotPassword = function() {
				if(!$scope['forgotPasswordForm'].$valid) {
					jQuery.pnotify({
						text: "Invalid form",
						type: 'error'
					});
					return;
				}
				jQuery('#overlay').removeClass('hide');
				$http({
					method : 'POST',
					url : 'password/reset',
					data: $scope.forgotPasswordData
				}).success(function(data) {
					jQuery('#overlay').addClass('hide');
					$scope.loading = false;
					if(data.status_code == 200 || data.status_code =="200" ){
						$scope.successMessage = data.data.Reason;
						jQuery.pnotify({
							text: $scope.successMessage,
							type: 'success'
						});
						jQuery('#forgotPasswordModal').modal('hide');
					} else {
						$scope.errorMessage = data.data.Reason;
						jQuery.pnotify({
							text: $scope.errorMessage,
							type: 'error'
						});
					}  

				});
			}
			$scope.submitSignIn = function(){
				$( "#sign-in-form .input-field" ).trigger('input').trigger('change').trigger('keydown').blur();
				console.log($scope['signInForm'].$valid);
				console.log($scope.signInData);
				if(!$scope['signInForm'].$valid) {
					console.log('invalid form');
					return;
				}else{
					console.log('valid form');
					jQuery('#overlay').removeClass('hide');
					$http({
						method  : 'POST',
						url     : 'login',
						data    : $scope.signInData  // pass in data as strings
					}).success(function(data) {
						console.log(data);
						jQuery('#overlay').addClass('hide');
						if(data.status_code!=200){
							$scope.isError = true;
							$scope.displayError = data.data.Reason;
							console.log($scope.displayError)
							jQuery.pnotify({
								text: $scope.displayError,
								type: 'error'
							});
						}else{
							$scope.isError = false;
							$scope.isBorrower = data.data.is_borrower;
							if($scope.isBorrower) {
								window.location.href = "/dashboard.html#/RegistrationPending"
							} else {
								window.location.href = "/dashboard.html#/oneStepRegistration"
							}
						}
					});
				}   
			}

			$scope.logout = function() {
				$http({
					method: 'GET',
					url: '/logout'
				}).success(function(data){
					if (data.status_code == 200 || data.status_code == '200') {
						window.location.href = "/index.html";
					} else {
						$scope.isError = true;
						$scope.displayError = data.data.Reason;
					}
				});
			}
			$scope.propertyData = {};
			$scope.acceptData = {};
			$scope.rejectData = {};
			$scope.backToProperties = function(){
				window.location.href = "dashboard.html#/yourProperties";
			};

			// $scope.selectBid = function(id){
			// 	var auctionId = $scope.propertyData.auction_details.id;
			// 	var acceptUrl = "acceptBid?auction_id="+auctionId+"&bid_id="+id;
			// 	console.log(acceptUrl);
			// 	jQuery('#overlay').removeClass('hide');
			// 	$http({
			// 		method  : 'GET',
			// 		url     : acceptUrl
			// 		//data    : sendingId  // pass in data as strings
			// 	}).success(function(data) {
			// 		jQuery('#overlay').addClass('hide');
			// 		console.log("accept bid",data);
			// 		if (data.status_code == 401 || data.status_code == '401') {
			// 			jQuery.pnotify({
			// 				text: data.data.Reason,
			// 				type: "error"
			// 			});
			// 			setTimeout(function(){window.location.href = "/index.html";},2000);
			// 		} 
			// 		if(data.status_code == '200' || data.status_code == 200){
			// 			$scope.serverMessage = "Bid selected successfully";
			// 			jQuery.pnotify({
			// 				text: $scope.serverMessage,
			// 				type: 'success'
			// 			});
			// 			window.location.reload();
			// 		} else {
			// 			$scope.serverMessage = data.data.Reason;
			// 			jQuery.pnotify({
			// 				text: $scope.serverMessage,
			// 				type: 'error'
			// 			});
			// 		}
			// 	});
			// }
			// $scope.rejectBid = function(id){
			// 	var messageQuery = ".comment"+id;
			// 	$scope.rejectData.comments = $(messageQuery).val();
			// 	$scope.rejectData.bid_id = id;
			// 	jQuery('#overlay').removeClass('hide');
			// 	$http({
			// 		method  : 'POST',
			// 		url     : 'rejectBid',
			// 		data    : $scope.rejectData  // pass in data as strings
			// 	}).success(function(data) {
			// 		jQuery('#overlay').addClass('hide');
			// 		if (data.status_code == 401 || data.status_code == '401') {
			// 			jQuery.pnotify({
			// 				text: data.data.Reason,
			// 				type: "error"
			// 			});
			// 			setTimeout(function(){window.location.href = "/index.html";},2000);
			// 		} 
			// 		if(data.status_code == '200' || data.status_code == 200){
			// 			$scope.serverMessage = "Bid rejected successfully";
			// 			jQuery.pnotify({
			// 				text: $scope.serverMessage,
			// 				type: 'success'
			// 			});
			// 			window.location.reload();
			// 		} else {
			// 			$scope.serverMessage = data.data.Reason;
			// 			jQuery.pnotify({
			// 				text: $scope.serverMessage,
			// 				type: 'error'
			// 			});
			// 		} 
			// 	});
			// }

			jQuery('#overlay').removeClass('hide');
			$http({
				method  : 'GET',
				url     : sendingUrl
				//data    : sendingId  // pass in data as strings
			}).success(function(data) {
				jQuery('#overlay').addClass('hide');
				$scope.propertyData = data.data;
				// var map_canvas = document.getElementById('map_canvas');
				// var myLatlng = new google.maps.LatLng($scope.propertyData.address.latitude ,$scope.propertyData.address.longitude);
				// console.log($scope.propertyData.latitude);
				// console.log($scope.propertyData.longitude);
				// var map_options = {
				// 	center: myLatlng,
				// 	zoom: 8,
				// 	mapTypeId: google.maps.MapTypeId.ROADMAP
				// }

				//var map = new google.maps.Map(map_canvas, map_options);

				// var marker = new google.maps.Marker({
				// 	position: myLatlng
				// });

				//marker.setMap(map);

				// jQuery('#peoplegraph').attr('src',$scope.propertyData.property_in_details.local_info.people_graph_url);
				// jQuery('#educationgraph').attr('src',$scope.propertyData.property_in_details.local_info.education_graph_url);
				// jQuery('#counciltax').attr('src',$scope.propertyData.property_in_details.local_info.council_tax_graph_url);
				// jQuery('#crimegraph').attr('src',$scope.propertyData.property_in_details.local_info.crime_graph_url);

				// jQuery('#averageValue').attr('src',$scope.propertyData.property_in_details.area_value.average_values_graph_url);
				// jQuery('#rangeValues').attr('src',$scope.propertyData.property_in_details.area_value.value_ranges_graph_url);
				// jQuery('#trendingValues').attr('src',$scope.propertyData.property_in_details.area_value.value_trend_graph_url);

				// var the_images = [];

				// angular.forEach($scope.propertyData.image_details, function(value, key) {
			 //       this.push(value.image_path+'/'+value.image_name);
			 //     }, the_images);

				// 	jQuery.imgpreload(the_images,
				// 	{
				// 		each: function()
				// 		{
							
				// 		},
				// 		all: function()
				// 		{
				// 			jQuery("a[rel^='prettyPhoto']").prettyPhoto({
				// 				deeplinking: false,
				// 				social_tools : false
				// 			});
				// 		}
				// 	});	

				// jQuery('.propertyImageGallery').on('click','.viewGalleryLabel',function(e){
				// 	jQuery(e.currentTarget).closest('li').find('a').trigger('click');
				// });	
					
			});

			$scope.startAuction = function(){
				var dataToSend = {};
				dataToSend.property_id = id;
				dataToSend.auction_expiry_date = $scope.expiryDate;
				dataToSend.comments = $scope.comments;
				console.log(dataToSend);
				jQuery('#overlay').removeClass('hide');
				$http({
					method  : 'POST',
					url     : 'startAuction',
					data    : dataToSend  // pass in data as strings
				}).success(function(data) {
					jQuery('#overlay').addClass('hide');
					if (data.status_code == 401 || data.status_code == '401') {
						jQuery.pnotify({
							text: data.data.Reason,
							type: "error"
						});
						setTimeout(function(){window.location.href = "/index.html";},2000);
					} 
					if(data.status_code == '200' || data.status_code == 200){
						$scope.serverMessage = "Congratulations! You have successfully Auctioned.";
						jQuery.pnotify({
							text: $scope.serverMessage,
							type: 'success'
						});
						$('.startAuction').css('visibility','hidden');
						window.location.reload();
					}else{
						$scope.serverMessage = data.data.Reason;
						jQuery.pnotify({
							text: $scope.serverMessage,
							type: 'error'
						});
					}
				});
			}

			$scope.withDraw = function() {
				jQuery('#overlay').removeClass('hide');
				$http({
					method: 'POST',
					url : 'withdrawBid'
				}).success(function(data) {
					jQuery('#overlay').addClass('hide');
					if (data.status_code == 401 || data.status_code == '401') {
						jQuery.pnotify({
							text: data.data.Reason,
							type: "error"
						});
						setTimeout(function(){window.location.href = "/index.html";},2000);
					} 
					if(data.status_code == '200' || data.status_code == 200){
						$scope.serverMessage = "Congratulations! You have successfully placed a Bid.";
						jQuery.pnotify({
							text: $scope.serverMessage,
							type: 'success'
						});
						window.location.reload();
					}else{
						$scope.serverMessage = data.data.Reason;
						jQuery.pnotify({
							text: $scope.serverMessage,
							type: 'error'
						});
					}
				})
			}

			$scope.clickBidNow = function(){
				$scope.bidFormData.auction_id = $scope.propertyData.auction_details.id;
				jQuery('#overlay').removeClass('hide');
				$http({
					method  : 'POST',
					url     : 'placeBid',
					data    : $scope.bidFormData  // pass in data as strings
				}).success(function(data) {
					jQuery('#overlay').addClass('hide');
					console.log(data);
					console.log(data.property_id);
					console.log(data.status_code);
					console.log(data.status_code == '200');
					console.log(data.status_code == 200);

					if (data.status_code == 401 || data.status_code == '401') {
						jQuery.pnotify({
							text: data.data.Reason,
							type: "error"
						});
						setTimeout(function(){window.location.href = "/index.html";},2000);
        
					} 
					if(data.status_code == '200' || data.status_code == 200){
						$scope.serverMessage = "Congratulations! You have successfully placed a Bid.";
						jQuery.pnotify({
							text: $scope.serverMessage,
							type: 'success'
						});
						$('.startAuction').css('visibility','hidden');
						window.location.reload();
					}else{
						$scope.serverMessage = data.data.Reason;
						jQuery.pnotify({
							text: $scope.serverMessage,
							type: 'error'
						});
					}
				});
			};
		}

			//investor comparision Calculator
			function investorComparisionCalculator($scope, $http) {
				$scope.mortgageamount = 0;
				$scope.mortgageamount2 = 0;
				$scope.monthlyrepayments = 0;
				$scope.monthlyrepayments2 = 0;
				$scope.calculatorData = {};
				$scope.investorComparisionResult = false;

				$scope.investorComparisionFields = {
					"loanterms" : "",
					"houseprice" : "",
					"yourdeposit" : "",
					"estimatedcosts" : "",
					"borrowemarkup" : "",
					"interestrate" : "",
					"borrowemarkup2" : "",
					"interestrate2" : ""
				}

				$http({
					'method' : 'GET',
					'url' : 'getCalVal?property_id='+id
				}).success(function(data) {
					$scope.calculatorData = data.data;
					$scope.investorComparisionFields.houseprice = $scope.calculatorData.pricing;
					$scope.investorComparisionFields.yourdeposit = $scope.calculatorData.deposit_amount;
					$scope.investorComparisionFields.borrowemarkup = $scope.calculatorData.mark_up_premium;
					$scope.investorComparisionFields.interestrate = $scope.calculatorData.rate_of_interest;
					$scope.investorComparisionFields.loanterms = $scope.calculatorData.tennure;
					// $scope.investorComparisionFields.yourdeposit = $scope.calculatorData.deposit_amount;
      
				});

				$scope.investorComparisionValues = function() {
					//Investor 1 Mortgage Amount
					var mortgageAmount  = ((parseFloat($scope.investorComparisionFields.borrowemarkup)/100)*
						parseFloat($scope.investorComparisionFields.houseprice))+
						parseFloat($scope.investorComparisionFields.houseprice)-
						parseFloat($scope.investorComparisionFields.yourdeposit)+
						parseFloat($scope.investorComparisionFields.estimatedcosts);

					$scope.mortgageamount = mortgageAmount.toFixed(2);


					//Investor1 monthly payments
					var totalMortgagePayments = parseFloat($scope.investorComparisionFields.loanterms)*12;
					var totalMPval1 = (parseFloat($scope.investorComparisionFields.interestrate)/100)/12;
					var monthlyRepayments = $scope.mortgageamount*((totalMPval1)*Math.pow((1+(totalMPval1)),totalMortgagePayments))/((Math.pow((1+totalMPval1),(totalMortgagePayments)))-1);

					$scope.monthlyrepayments = monthlyRepayments.toFixed(2);

					//Investor 2 Mortgage Amount
					var mortgageAmount2  = ((parseFloat($scope.investorComparisionFields.borrowemarkup2)/100)*
						parseFloat($scope.investorComparisionFields.houseprice))+
						parseFloat($scope.investorComparisionFields.houseprice)-
						parseFloat($scope.investorComparisionFields.yourdeposit)+
						parseFloat($scope.investorComparisionFields.estimatedcosts);

					$scope.mortgageamount2 = mortgageAmount2.toFixed(2);

					//Investor2 monthly payments
					var totalMPval2 = (parseFloat($scope.investorComparisionFields.interestrate2)/100)/12;
					var monthlyRepayments2 = $scope.mortgageamount2*((totalMPval2)*Math.pow((1+(totalMPval2)),totalMortgagePayments))/((Math.pow((1+totalMPval2),(totalMortgagePayments)))-1);

					$scope.monthlyrepayments2 = monthlyRepayments2.toFixed(2);
					$scope.investorComparisionResult = true;

				} 
			}

			//investor comparision calculator
			function investorProfitCalculator($scope, $http) {
				$scope.borrowermortgageamount = 0;
				$scope.investormortgageamount = 0;
				$scope.borrowermonthlyrepayments = 0;
				$scope.investormonthlyrepayments = 0;
				$scope.borroweryearlyrepayment = 0;
				$scope.investoryearlyrepayment = 0;
				$scope.returninvestment = 0;
				$scope.investmentprofit = 0;
				$scope.borrowerrefinance = 0;
				$scope.mortgageamountdifference = 0;
				$scope.monthlyrepaymentsdifference = 0;
				$scope.yearlyrepaymentdifference = 0;
				$scope.interestratedifference = 0;
				$scope.investorProfitResult = false;
				$scope.investorProfitFields = {
					"loanterms" : "",
					"estimatedborrowerrefinance" : "",
					"houseprice" : "",
					"yourdeposit" : "",
					"estimatedcosts" : "",
					"borrowemarkup" : "",
					"interestrate" : "",
					"borrowerdeposit" : "",
					"investormarkup" : "",
					"investorinterestrate" : ""

				}
				$scope.calculatorData = {};

				$http({
					'method' : 'GET',
					'url' : 'getCalVal?property_id='+id
				}).success(function(data) {
					$scope.calculatorData = data.data;
					$scope.investorProfitFields.houseprice = $scope.calculatorData.pricing;
					$scope.investorProfitFields.yourdeposit = $scope.calculatorData.deposit_amount;
					$scope.investorProfitFields.estimatedborrowerrefinance = $scope.calculatorData.expect_refinance_years;
					$scope.investorProfitFields.borrowemarkup = $scope.calculatorData.mark_up_premium;
					$scope.investorProfitFields.interestrate = $scope.calculatorData.rate_of_interest;
					$scope.investorProfitFields.loanterms = $scope.calculatorData.tennure;
      
					// $scope.investorComparisionFields.yourdeposit = $scope.calculatorData.deposit_amount;
      
				});
				$scope.investorProfitValues = function() {
					//Borrower Mortgage Amount
					var borrowermortgageamount  = parseFloat($scope.investorProfitFields.houseprice)+
						((parseFloat($scope.investorProfitFields.borrowemarkup)/100)*
						parseFloat($scope.investorProfitFields.houseprice))-
						parseFloat($scope.investorProfitFields.borrowerdeposit);

					$scope.borrowermortgageamount = borrowermortgageamount.toFixed(2);

					//Borrower monthly payments
					var totalMortgagePayments = parseFloat($scope.investorProfitFields.loanterms)*12;
					var interestRate = parseFloat($scope.investorProfitFields.interestrate)/100;
					$scope.borrowermonthlyrepayments = ($scope.borrowermortgageamount*((interestRate/12)*(Math.pow((1+(interestRate/12)),totalMortgagePayments)))/((Math.pow((1+(interestRate/12)),totalMortgagePayments))-1)).toFixed(2);

					$scope.borroweryearlyrepayment = ($scope.borrowermonthlyrepayments*12).toFixed(2);

					//Investor Mortgage Amount
					var investormortgageamount  = parseFloat($scope.investorProfitFields.houseprice)-
						parseFloat($scope.investorProfitFields.yourdeposit)+
						parseFloat($scope.investorProfitFields.estimatedcosts)-
						parseFloat($scope.investorProfitFields.borrowerdeposit);

					$scope.investormortgageamount = investormortgageamount.toFixed(2);

					//Borrower monthly payments
					var interestRate = parseFloat($scope.investorProfitFields.investorinterestrate)/100;
					$scope.investormonthlyrepayments = ($scope.investormortgageamount*((interestRate/12)*(Math.pow((1+(interestRate/12)),totalMortgagePayments)))/((Math.pow((1+(interestRate/12)),totalMortgagePayments))-1)).toFixed(2);


					$scope.investoryearlyrepayment = ($scope.investormonthlyrepayments*12).toFixed(2);;

					$scope.interestratedifference = parseFloat($scope.investorProfitFields.interestrate)-parseFloat($scope.investorProfitFields.investorinterestrate);
					$scope.mortgageamountdifference = ($scope.borrowermortgageamount - $scope.investormortgageamount).toFixed(2);;
					$scope.monthlyrepaymentsdifference = ($scope.borrowermonthlyrepayments - $scope.investormonthlyrepayments).toFixed(2);;
					$scope.yearlyrepaymentdifference = ($scope.borroweryearlyrepayment - $scope.investoryearlyrepayment).toFixed(2);;
					$scope.returninvestment = (($scope.yearlyrepaymentdifference/parseFloat($scope.investorProfitFields.yourdeposit))*100).toFixed(2);
					$scope.investmentprofit = ($scope.yearlyrepaymentdifference*(parseFloat($scope.investorProfitFields.estimatedborrowerrefinance))).toFixed(2);
					$scope.borrowerrefinance = (parseFloat($scope.investorProfitFields.houseprice)*(parseFloat($scope.investorProfitFields.borrowemarkup)/100)).toFixed(2);
					$scope.investorProfitResult = true;

				} 

			}

			profilePageApp.directive('datepicker', function(){
			  return    {
			    restrict:'C',
			    require : 'ngModel',
			    link : function (scope, element, attrs, ngModelCtrl) {
			      $(function(){
			          element.datepicker({
			              format:'dd-mm-yyyy'
			          }).on('changeDate', function(ev) {
			              ngModelCtrl.$setViewValue(ev.currentTarget.value);
			              scope.$apply();
			              element.datepicker('hide')
			          });
			      });
			    } 
			  }
			});
		</script>
		<script type="text/javascript">
			jQuery(document).ready(function() {

				$.pnotify.defaults.styling = "jqueryui";
				$("#sign_in_click").on('click',function(){
					$('.sign-in-dropdown').css('display','block');
				});

				$(document).mouseup(function (e)
				{
					var container = $(".sign-in-drop");

					if (!container.is(e.target) // if the target of the click isn't the container...
						&& container.has(e.target).length === 0) // ... nor a descendant of the container
					{
						jQuery('.sign-in-dropdown').hide();
					}
				});
			});

		</script>
	</body>
</html>
