<div class="dash-wrap" id="search-add-properties" align="center">
    <div class="row dashboard-wrap">
        <span class="sub-heading">Search Jobs ! </span>
        <p class="info-para">
            <span class="info-logo-icon sprite"></span>
            <span class="text">Mortgage Chance allows borrowers to upload <strong>one</strong> free property during the registration process.  However if you love more than one property and want to improve your chances you can add additional property auctions by following the instructions below. <br>
                Alternatively, you can use the search function to view our “investor direct” properties for sale. </span>
        </p>
        <span class="main-heading">Add a Property</span>
        <span class="sub-heading">Property Link</span>
        <p class="info-para">
            <span class="info-logo-icon sprite"></span>
            <span class="text">Please provide an email link of the property you wish to purchase <strong>or</strong> use the Mortgage Chance search function to find the property and add it. Please also add the contact details of the property agent / owner you are dealing with.  If the property is not on the internet, we will contact the agent directly and have it added.</span>
        </p>
        <!--Form Starts -->
        <form name="searchAddProperties">
            <div class="applying">
                <label>Do you know which property to buy?</label>
                <span class="css-checkbox-hold">
                    <input type="radio" id="applicants_1" name="applicants" ng-click="loandetailsContainerhide()" checked="" class="css-checkbox">
                    <label for="applicants_1" class="css-label3">Yes</label>
                </span>
                <span class="css-checkbox-hold">
                    <input type="radio" id="applicants_2" name="applicants" ng-click="loandetailsContainershow()" class="css-checkbox">
                    <label for="applicants_2" class="css-label3">No</label>
                </span>
                <br clear="all">
            </div>
            <div class=" dashboard-wrap-hold clearfix" ng-show="displayloandetailsContainer">
                <a href="propertyApiSearchFilter.html"><button class="mc-btn scr-pro-btn" type="button">SEARCH PROPERTIES
                <span class="sprite right-pro-icon"></span>
                </button></a>
            </div>
            <div class="loandetailsContainer" ng-hide="displayloandetailsContainer">
                <span class="sub-heading">Loan Details</span>
                
                <!-- <p class="info-para clearfix">
                    <span class="info-logo-icon sprite"></span>
                    <span class="text">If you have then weblink for the property, please enter it here</span>
                </p>-->
                <!--------Copy and Paste weblink here-------->
                <div class="row"><!--------ng-hide="displaySearchPropertyContainer"---->
                    <div class="col-lg-9 dashboard-wrap-hold">
                        <div class="form-element clearfix">
                            <label class="col-sm-3 pad-zero" for="inputEmail3">Weblink for the Property</label>
                            <div class="col-sm-9 pad-zero">
                                <span class="form-hold2 clearfix">
                                    <div class="validate-line">
                                        <input type="text" name="link_to_property" class="input-field"  ng-model="addSearchAddPropertyData.link_to_property" form-name="searchAddProperties">
                                        <div class="input-wrapper"></div>
                                        <div class="message"></div>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 dashboard-wrap-hold">
                        <div class="form-element clearfix">
                            <label for="inputEmail3" class="col-sm-3 pad-zero">Property Price*</label>
                            <div class="col-sm-9 pad-zero">
                                <span class="form-hold2 clearfix">
                                    <div class="validate-line">
                                        <input type="text" form-name="searchAddProperties" validate-on-blur required ng-model="addSearchAddPropertyData.house_price" validate-type="number" class="input-field " name="house_price">
                                        <div class="input-wrapper"></div>
                                        <div class="message"></div>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="form-element clearfix">
                            <label for="inputEmail3" class="col-sm-3 pad-zero">Tenure*</label>
                            <div class="col-sm-9 pad-zero">
                                <span class="form-hold2 clearfix">
                                    <div class="validate-line">
                                        <select class="input-field" ng-model="addSearchAddPropertyData.tenure" form-name="searchAddProperties">
                                            <option value="25">25</option>
                                            <option value="30">30</option>
                                        </select>
                                        <div class="input-wrapper"></div>
                                        <div class="message"></div>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="form-element clearfix">
                            <label for="inputEmail3" class="col-sm-3 pad-zero">Your Deposit*</label>
                            <div class="col-sm-9 pad-zero">
                                <span class="form-hold2 clearfix">
                                    <div class="validate-line">
                                        <input type="text" form-name="searchAddProperties" validate-on-blur required ng-model="addSearchAddPropertyData.deposit_amount" validate-type="number" class="input-field " name="deposit_amount">
                                        <div class="input-wrapper"></div>
                                        <div class="message"></div>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="form-element clearfix">
                            <label for="inputEmail3" class="col-sm-3 pad-zero">Property Usage*</label>
                            <div class="col-sm-9 pad-zero">
                                <span class="form-hold2 clearfix">
                                    <div class="validate-line">
                                        <select class="input-field" ng-model="addSearchAddPropertyData.intended_property_usage" form-name="searchAddProperties">
                                            <option value="owner">Owner</option>
                                            <option value="agent">Investor</option>
                                        </select>
                                        <div class="input-wrapper"></div>
                                        <div class="message"></div>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="form-element clearfix">
                            <label for="inputEmail3" class="col-sm-8 pad-zero">Are you going to renovate the property?*</label>
                            <div class="col-sm-4 pad-zero">
                                <span class="form-hold2 clearfix">
                                    <div class="validate-line">
                                        <select class="input-field" ng-model="addSearchAddPropertyData.is_renovate" form-name="searchAddProperties">
                                            <option value="yes">Yes</option>
                                            <option value="no">No</option>
                                        </select>
                                        <div class="input-wrapper"></div>
                                        <div class="message"></div>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="form-element clearfix">
                            <label for="inputEmail3" class="col-sm-8 pad-zero">When do you expect to refinance*</label>
                            <div class="col-sm-4 pad-zero">
                                <span class="form-hold2 clearfix">
                                    <div class="validate-line">
                                        <select class="input-field" ng-model="addSearchAddPropertyData.expect_refinance_years" form-name="searchAddProperties">
                                            <option value="1-3 years">1 - 3 years</option>
                                            <option value="3-6 years">3 - 6 years</option>
                                            <option value="6-10 years">6 - 10 years</option>
                                            <option value="> 10 years">
                                            > 10 years</option>
                                        </select>
                                        <div class="input-wrapper"></div>
                                        <div class="message"></div>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="sub-heading">Property Details </span>
                <div class="row">
                    <div class="col-lg-6 dashboard-wrap-hold">
                        <div class="form-element clearfix">
                            <label for="inputEmail3" class="col-sm-3 pad-zero">House No*</label>
                            <div class="col-sm-9 pad-zero">
                                <span class="form-hold2 clearfix">
                                    <div class="validate-line">
                                        <input type="text" form-name="searchAddProperties" required ng-model="addSearchAddPropertyData.address.street_no" class="input-field " name="street_number">
                                        <div class="input-wrapper"></div>
                                        <div class="message"></div>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="form-element clearfix">
                            <label for="inputEmail3" class="col-sm-3 pad-zero">Street Name*</label>
                            <div class="col-sm-9 pad-zero">
                                <span class="form-hold2 clearfix">
                                    <div class="validate-line">
                                        <input type="text" form-name="searchAddProperties" required ng-model="addSearchAddPropertyData.address.street_name" validate-type="name" class="input-field " name="street_name">
                                        <div class="input-wrapper"></div>
                                        <div class="message"></div>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="form-element clearfix">
                            <label for="inputEmail3" class="col-sm-3 pad-zero">Suburb*</label>
                            <div class="col-sm-9 pad-zero">
                                <span class="form-hold2 clearfix">
                                    <div class="validate-line">
                                        <input type="text" form-name="searchAddProperties" required ng-model="addSearchAddPropertyData.address.suburb" validate-type="name" class="input-field " name="suburb">
                                        <div class="input-wrapper"></div>
                                        <div class="message"></div>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="form-element clearfix">
                            <label for="inputEmail3" class="col-sm-3 pad-zero">Postcode*</label>
                            <div class="col-sm-9 pad-zero">
                                <span class="form-hold2 clearfix">
                                    <div class="validate-line">
                                        <input type="text" form-name="searchAddProperties" validate-on-blur required ng-model="addSearchAddPropertyData.address.postcode" validate-type="number" class="input-field " name="postcode">
                                        <div class="input-wrapper"></div>
                                        <div class="message"></div>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="form-element clearfix">
                            <label for="inputEmail3" class="col-sm-3 pad-zero">City*</label>
                            <div class="col-sm-9 pad-zero">
                                <span class="form-hold2 clearfix">
                                    <div class="validate-line">
                                        <input type="text" form-name="searchAddProperties" required ng-model="addSearchAddPropertyData.address.city_name" validate-type="name" class="input-field " name="city_name">
                                        <div class="input-wrapper"></div>
                                        <div class="message"></div>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="form-element clearfix">
                            <label for="inputEmail3" class="col-sm-3 pad-zero">State*</label>
                            <div class="col-sm-9 pad-zero">
                                <span class="form-hold2 clearfix">
                                    <div class="validate-line">
                                        <input type="text" form-name="searchAddProperties" required ng-model="addSearchAddPropertyData.address.state_name" validate-type="name" class="input-field " name="state_name">
                                        <div class="input-wrapper"></div>
                                        <div class="message"></div>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="info-para clearfix">
                    <span class="info-logo-icon sprite"></span>
                    <span class="text">Please provide details of the property agent or if the property is for sale by owner, please provide their details. </span>
                </p>
                <span class="sub-heading">Property Agent / Owner information </span>
                <div class="row">
                    <div class="col-lg-6 dashboard-wrap-hold">
                        <div class="form-element clearfix">
                            <label for="inputEmail3" class="col-sm-3 pad-zero">Agency Name*</label>
                            <div class="col-sm-9 pad-zero">
                                <span class="form-hold2 clearfix">
                                    <div class="validate-line">
                                        <input type="text" form-name="searchAddProperties" validate-on-blur required ng-model="addSearchAddPropertyData.agent_info.first_name" validate-type="name" class="input-field " name="first_name">
                                        <div class="input-wrapper"></div>
                                        <div class="message"></div>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="form-element clearfix">
                            <label for="inputEmail3" class="col-sm-3 pad-zero">Agent Name</label>
                            <div class="col-sm-9 pad-zero">
                                <span class="form-hold2 clearfix">
                                    <div class="validate-line">
                                        <input type="text" form-name="searchAddProperties" ng-model="addSearchAddPropertyData.agent_info.surname" validate-on-blur validate-type="name" class="input-field " name="surname">
                                        <div class="input-wrapper"></div>
                                        <div class="message"></div>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="form-element clearfix">
                            <label for="inputEmail3" class="col-sm-3 pad-zero">Email<sup>*</sup></label>
                            <div class="col-sm-9 pad-zero">
                                <span class="form-hold2 clearfix">
                                    <div class="validate-line">
                                        <input type="text" form-name="searchAddProperties" validate-on-blur  ng-model="addSearchAddPropertyData.agent_info.agent_email_id" required validate-type="email" class="input-field " name="agent_email_id">
                                        <div class="input-wrapper"></div>
                                        <div class="message"></div>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="form-element clearfix">
                            <label for="inputEmail3" class="col-sm-3 pad-zero">Work*</label>
                            <div class="col-sm-9 pad-zero">
                                <span class="form-hold2 clearfix">
                                    <div class="validate-line small">
                                        <input type="text" validate-on-blur required ng-model="addSearchAddPropertyData.phones.work.code" placeholder="area code" class="input-field ng-pristine ng-valid" name="code" form-name="searchAddProperties" validate-type="number">
                                        <div class="input-wrapper"></div>
                                        <div class="message"></div>
                                    </div>
                                    <div class="validate-line medium">
                                        <input type="text" validate-on-blur required ng-model="addSearchAddPropertyData.phones.work.phone_number" placeholder="number" class="input-field ng-pristine ng-valid" name="phone_number" form-name="searchAddProperties" validate-type="number">
                                        <div class="input-wrapper"></div>
                                        <div class="message"></div>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="form-element clearfix">
                            <label for="inputEmail3" class="col-sm-3 pad-zero">Mobile*</label>
                            <div class="col-sm-9 pad-zero">
                                <span class="form-hold2 clearfix">
                                    <div class="validate-line small">
                                        <input type="text" validate-on-blur required ng-model="addSearchAddPropertyData.phones.mobile.code" placeholder="area code" class="input-field ng-pristine ng-valid" name="code" form-name="searchAddProperties" validate-type="number">
                                        <div class="input-wrapper"></div>
                                        <div class="message"></div>
                                    </div>
                                    <div class="validate-line medium">
                                        <input type="text" validate-on-blur required ng-model="addSearchAddPropertyData.phones.mobile.phone_number" placeholder="number" class="input-field ng-pristine ng-valid" name="phone_number" form-name="searchAddProperties" validate-type="number">
                                        <div class="input-wrapper"></div>
                                        <div class="message"></div>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="mc-btn add-property-btn" ng-click="processForm()" type="submit">ADD PROPERTY</button>
            </div>
        </form>
    </div>
</div>
