<!DOCTYPE html>
<html>
<head>
<title>VideooCV</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="fonts/stylesheet.css" type="text/css" charset="utf-8" />
<link rel="stylesheet" type="text/css" href="css/bootstrap-select.css">
<link href="css/main.css" rel="stylesheet">
<link href="css/main2.css" rel="stylesheet">
<link href="js/pnotify/jquery.pnotify.default.css" media="all" rel="stylesheet" type="text/css" />
<!-- Include this file if you are using PIcons. -->
<link href="js/pnotify/icons/jquery.pnotify.default.icons.css" media="all" rel="stylesheet" type="text/css" />
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
</head>
<body ng-app="signUp" ng-controller="signUpController">
<div class="spinner" id="overlay" ng-show="loading"></div>

<!----------------------------SIGN IN Header---------------------------->
<div class="mc-header clearfix">
    <div class="mc-logo">
        <a href="index.html"><img src="img/vcv.png"></a>
    </div>
    <div class="sign-in">
        <ul>
            <li class="sign-in-drop">
                <a class="menu" id="sign_in_click" href "#">SIGN IN</a>
                <div class="sign-in-dropdown">
                    <form name="signInForm">
                        <span class="grey-caret"></span>
                        <label>Username/Email</label>
                        <br clear="all">
                        <span class="form-hold4 clearfix">
                            <div class="validate-line">
                                <input type="text" validate-type="email" required class="input-field" ng-model="signInData.username" name="username">
                                <div class="input-wrapper"></div>
                            </div>
                        </span>
                        <label class="signin-space">Password</label>
                        <br clear="all">
                        <span class="form-hold4 clearfix">
                            <div class="validate-line">
                                <input type="password" validate-type="novalid" validate-on-blur required class="input-field" ng-model="signInData.login_password" name="login_password">
                                <div class="input-wrapper"></div>
                            </div>
                            <button class="mc-btn sign-in-dropdown-btn2" type="submit" ng-click="submitSignIn()">SIGN IN</button>
                        </span>
                    </form>
                    <div class="social-signin">
                        <a id="facebook-link" href="social/facebook/borrower">
                            <span class="social-sprite fb-icon transition"></span>
                        </a>
                        <a id="google-link" href="social/google/borrower">
                            <span class="social-sprite gplus-icon transition"></span>
                        </a>
                        <a id="linkedin-link" href="social/linkedIn/borrower">
                            <span class="social-sprite lin-icon transition"></span>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <a class="menu" href="aboutus.html">ABOUT US</a>
            </li>
            <!-- <li>
                <a class="menu ca"  href="currentProfiles.html">CURRENT<br>
                    AUCTIONS</a>
            </li> -->
            <!-- <li class="select-country">
                <select class="selectpicker" id="selectCountry">
                    <option value="AUS" data-content="<span class='sprite aus-icon'>Aus</span>">AUS</option>
                    <option value="NZ" data-content="<span class='sprite nz-icon'>NZ</span>">NZ</option>
                    <option value="US" data-content="<span class='sprite us-icon'>US</span>">US</option>
                    <option value="UK" data-content="<span class='sprite uk-icon'>UK</span>">UK</option>
                    <option value="IRE" data-content="<span class='sprite irl-icon'>IRE</span>">IRE</option>
                    <option value="SA" data-content="<span class='sprite sa-icon'>SA</span>">SA</option>
                </select>
            </li> -->
        </ul>
    </div>
</div>
<!---------------------------- End SIGN IN Header---------------------------->

<div class="container adjust-top">
    
    <!-- <div class="errormessage" ng-show="isError">{{displayError}}</div> -->
    <div class="row sign-up-text">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <!-- <h2 class="get-a-2nd">Get a second chance in finance.<br>
                Acquire your dream property.</h2> -->
            <div class="media">
                <!-- <a class="pull-left">
                    <img class="media-object img-circle" src="img/tag-icon.png" alt="...">
                </a> -->
                <div class="media-body">
                    <!-- <h4 class="media-heading">You get the very best rates in second chance finance.</h4> -->
                </div>
            </div>
            <div class="media">
                <!-- <a class="pull-left">
                    <img class="media-object img-circle" src="img/correct-icon.png" alt="...">
                </a> -->
                <div class="media-body">
                    <!-- <h4 class="media-heading">A unique "dutch" auction process whereby you can review multiple proposals and accept the arrangement which best suits your needs.</h4> -->
                </div>
            </div>
            <div class="media">
                <!-- <a class="pull-left">
                    <img class="media-object img-circle" src="img/calendar-icon.png" alt="...">
                </a> -->
                <div class="media-body">
                    <!-- <h4 class="media-heading">You get peace of mind because we manage the repayments on the property and other costs.</h4> -->
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <p class="info-para clearfix">
                <span class="info-logo-icon sprite"></span>
                Welcome, you are signing up as
                <span class="lowerCase">{{userType}}</span>
                .</p>
            <div class="row main-form" id="signUpForm">
                <div class="sign-up-with clearfix">
                    <span class="sign-up-with-text">Signup with</span>
                    <a href="social/facebook/" id="facebook-link">
                        <span class="social-sprite fb-icon transition"></span>
                    </a>
                    <a href="social/google/" id="google-link">
                        <span class="social-sprite gplus-icon transition"></span>
                    </a>
                    <a href="social/linkedin/" id="linkedin-link">
                        <span class="social-sprite lin-icon transition"></span>
                    </a>
                </div>
                <span class="social-or">
                    <div align="center"><i>or</i></div>
                    <div class="or-longbar"></div>
                </span>
                <form name="signForm">
                    <!--Name-->
                    <label>Username* (will be visible to {{oppositeUserType}})</label>
                    <br clear="all">
                    <span class="form-hold2 clearfix">
                        <div class="validate-line">
                            <input type="text" name="username" class="input-field" validate-type="name" ng-model="username"  required validate-on-blur id="username" form-name="signForm">
                            <div class="input-wrapper"></div>
                        </div>
                    </span>
                    <br clear="all">
                    <!--E-mail Address-->
                    <label>E-mail Address*</label>
                    <br clear="all">
                    <span class="form-hold2 clearfix">
                        <div class="validate-line">
                            <input type="text" name="emailAddress"  ng-model="signUpData.email" class="input-field same1" required validate-on-blur validate-type="email" id="emailAddress" form-name="signForm">
                            <div class="input-wrapper"></div>
                        </div>
                    </span>
                    <br clear="all">
                    <!--Confirm E-mail Address-->
                    <label>Confirm E-mail Address*</label>
                    <br clear="all">
                    <span class="form-hold2 clearfix">
                        <div class="validate-line" >
                            <input type="text" name="emailAddresss" ng-model="signUpData.email_confirmation" class="input-field" required validate-on-blur validate-type="same" validate-id="1" id="emailAddresss" form-name="signForm">
                            <div class="input-wrapper"></div>
                        </div>
                    </span>
                    <br clear="all">
                    <!--Set a Password-->
                    <label>Set a Password*</label>
                    <br clear="all">
                    <span class="form-hold2 clearfix">
                        <div class="validate-line">
                            <input type="password" name="password-first" class="input-field same2" placeholder="Minimum 5 characters" required validate-type="password" validate-on-blur ng-model="signUpData.password" id="passwordFirst" form-name="signForm">
                            <div class="input-wrapper"></div>
                        </div>
                    </span>
                    <span class="checkbox">
                        <label class="password-label">
                            <input type="checkbox" ng-click="showPassword()" id="show-password">
                            Show Password </label>
                    </span>
                    <br clear="all">
                    <p class="required-feilds">*required fields</p>
                    <button class="mc-btn" type="submit" ng-click="processForm('signForm','signUpData','Register','dashboard.html','failureURL')">BECOME {{userType}}</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="footer row">
  <div class="footer-container clearfix">
        
          <div class="col-lg-9 col-md-8 col-sm-6 col-xs-6">
              <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                      <h4>Employer Zone</h4>
                        <ul>
                          <li><a href="#">Registration</a></li>
                          <li><a href="find-out-more-investor.html">How it works</a></li>
                          <li><a href="#">Search Profiles</a></li>
                          <li><a href="#">Manage Portfolio</a></li>
                         </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                      <h4>Employee Zone</h4>
                        <ul>
                          <li><a href="#">Registration</a></li>
                          <li><a href="find-out-more-borrower.html">How it works</a></li>
                          <li><a href="#">Apply for Job</a></li>
                          <li><a href="#">Manage Portfolio</a></li>
                         </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                      <h4>ABOUT US</h4>
                        <ul>
                          <li><a href="#">Who we are</a></li>
                          <li><a href="#">Our story</a></li>
                          <li><a href="#">careers @ VideooCV</a></li>
                         </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                      <h4>HELP</h4>
                        <ul>
                          <li><a href="faq.html">Frequently asked questions</a></li>
                          <li><a href="#">How to make VideooCV</a></li>
                          <li><a href="contactus.html">Contact us</a></li>
                         </ul>
                    </div>
                </div>
            </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
                      <h4>SOCIAL</h4>
                        <div class="footer-icon-hold">
                          <span class="sprite fb-footer-icon transition"></span>
                          <span class="sprite gp-footer-icon"></span>
                          <span class="sprite tw-footer-icon"></span>
                          <span class="sprite in-footer-icon"></span>
                        </div>
            </div>
           
    </div>
    
            <div class="footer-copyright" align="center">
              <span class="copyright">&copy; VideooCV</span>  <span class="website">Website by <a href="#">VideooCV</a></span>
            </div>
</div>

<!--social-modal--
<div class="modal fade signup-modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">To continue social signup enter</h4>
            </div>
            <div class="modal-body">
                <form name="socialSignUpPopUp">
                <div class="main-form">
                    <label>Username* (will be visible to {{oppositeUserType}})</label>
                    <br clear="all">
                    <span class="form-hold2 clearfix">
                        <div class="validate-line">
                            <input type="text" validate-type="email" required class="input-field" ng-model="signInData.username" name="username" form-name="socialSignUpPopUp">
                            <div class="input-wrapper"></div>
                            <div class="message"></div>
                        </div>
                    </span>
                    <br clear="all">
                    <button data-dismiss="modal" type="submit" class="mc-btn bid-property-btn">Continue</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--End social-modal-->

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery.ui.all.css">
<script src="./js/jquery2.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/bootstrap-select.js"></script>
<script src="./js/angular.min.js" type="text/javascript"></script>
<script src=" http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript" src="js/pnotify/jquery.pnotify.js"></script>
<script type="text/javascript">
jQuery(document).ready(function() {
  $.pnotify.defaults.styling = "jqueryui";
});
$(window).on('load', function () {
  $('.selectpicker').selectpicker({
  });
});


$("#sign_in_click").on('click',function(){
		$('.sign-in-dropdown').css('display','block');
});

$(document).mouseup(function (e)
{
    var container = $(".sign-in-drop");

    if (!container.is(e.target) // if the target of the click isn't the container...
        && container.has(e.target).length === 0) // ... nor a descendant of the container
    {
        jQuery('.sign-in-dropdown').hide();
    }
});

</script>
<script type="text/javascript">
var userType = "employee";
var userType1 = "/employee";
var url = $(location).attr('href');
if(url.match(/employee/)){
 userType = "employee";
 userType1 = "/employee";
}
if(url.match(/employer/)){
 userType = "employer";
 userType1 = "/employer";
}
  // var facebookLink = "http://mortgagechance.dev2.langoor.it/social/facebook"+userType1;
  // var googleLink = "http://mortgagechance.dev2.langoor.it/social/google"+userType1;
  // var twitterLink = "http://mortgagechance.dev2.langoor.it/social/twitter"+userType1;
  // var linkedinLink = "http://mortgagechance.dev2.langoor.it/social/linkedIn"+userType1;
  var facebookLink = "social/facebook"+userType1;
  var googleLink = "social/google"+userType1;
  var twitterLink = "social/twitter"+userType1;
  var linkedinLink = "social/linkedIn"+userType1;
  $('#facebook-link').attr('href',facebookLink);
  $('#google-link').attr('href',googleLink);
  $('#twitter-link').attr('href',twitterLink);
  $('#linkedin-link').attr('href',linkedinLink);
  
  var signUp = angular.module('signUp', []); 
  signUp.directive('validateOnBlur', function() {
   return {
    restrict: 'A',
    require: 'ngModel',
    link: function(scope, elm, attr, ngModelCtrl) {
      var allowedTypes = ['text', 'email', 'password'];
      if (allowedTypes.indexOf(attr.type)  === -1) {
        return;
      }

              // Unbind onchange event so that validation will be triggerd onblur
              elm.unbind('input').unbind('keydown').unbind('change');
              
              // Set OnBlur event listener
              elm.bind('blur', function() {
                  //alert('hi');
                  var fieldName = attr.name;
                  console.log(attr.name);
                  var errorMessage = "";
                  var inputValue = elm.val();
                  var isOk = false;
                  var isEmpty = false;
                  if(attr.validateType == 'name'){
                    if(inputValue.match(/^[a-zA-Z0-9]{1,30}$/g)){
                      isOk = true;
                    }else{
                      errorMessage = scope.nameCharacters;
                      isOk = false;
                    }
                    if(inputValue.length < 3){
                      errorMessage = scope.nameLengthShort;
                      isOk = false;
                    }
                    if(inputValue.length > 30){
                      errorMessage = scope.nameLengthLong;
                      isOk = false;
                    }                    
                  }
                  if(attr.validateType == 'email'){
                     // if(inputValue.match(/^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/)){
                      if(inputValue.match(/^[a-zA-Z0-9._]+@[a-zA-Z0-9-_]+?\.[a-zA-Z]{2,4}$/)){
                        isOk = true;
                      }else{
                        errorMessage = scope.emailInvalid;
                        isOk = false;
                      }                    
                    }
                    if(attr.validateType == 'password'){
                      if(inputValue.length < 5){
                        errorMessage = scope.passwordLengthShort;
                        isOk = false;
                      }else
                      if(inputValue.length > 250){
                        errorMessage = scope.passwordLengthLong;
                        isOk = false;
                      }else{
                        isOk = true;
                      }  
                    }
                    if(attr.validateType == 'novalid'){
                      isOk = true;
                    }
                    if(attr.validateType == 'same'){
                      var validateClass = "."+attr.validateType+attr.validateId;
                      if(inputValue == angular.element(validateClass).val()){
                        isOk = true;
                      }else{
                          isOk = false;//errorMessage = scope.confirmEmail;alert(attr.type);
                          if(attr.type == "text"){
                            errorMessage = scope.confirmEmail;
                          }
                          if(attr.type == "password" ){
                            errorMessage = scope.confirmPassword;
                          }
                        }   
                      }
                      if(inputValue.length ==0){
                        isEmpty = true;
                      }
                      elm.parent().find('.validation-message').remove();
                      elm.parent().find('p').remove();
                      if(isOk == true){
                        elm.parent().css("border-color","#8fc146");
                      //scope.signForm[attr.name].$valid = true;
                      if(scope.signForm[attr.name]){
                        scope.signForm[attr.name].$setValidity('valid',true);
                      }else{
                        scope.signInForm[attr.name].$setValidity('valid',true);
                      }
                      //return;
                    }                
                    if(isOk == false){
                      if(scope.signForm[attr.name]){
                        scope.signForm[attr.name].$setValidity('valid',false);
                      }else{
                        scope.signInForm[attr.name].$setValidity('valid',false);
                      }
                      
                      elm.parent().css("border-color","#e60020"); 
                      //scope.signForm[attr.name].$valid = false;  

                      elm.parent().append("<p class='validation-message'>"+errorMessage+"<p>");
                      //console.log("<p class='validation-message'>"+errorMessage+"<p>");
                      //elm.parent().css("border-color":"red") ;
                    }
                    if(isEmpty == true){
                      //scope.signForm[attr.name].$setValidity(false);
                      elm.parent().css("border-color","#000000");
                      elm.parent().find('.validation-message').remove();
                      elm.parent().find('p').remove();
                      if(scope.signForm[attr.name]){
                        scope.signForm[attr.name].$setValidity('valid',false);
                      }else{
                        scope.signInForm[attr.name].$setValidity('valid',false);
                      }
                      //return;
                    }
                });
}
};
});


function signUpController($scope, $http) {
  $scope.dataToSend = {};
  $scope.requestLocation = '';
  $scope.successLocation = '';
  $scope.failureLocation = '';
  $scope.signUpData = {};
  $scope.signInData = {};
  $scope.formData = {};
  $scope.nameLengthShort = "Name should be more than 3 characters";
  $scope.nameLengthLong = "Name should not be more than 255 characters";
  $scope.nameCharacters = "Name should contain only characters and numbers";
  $scope.emailInvalid = "Not a valid email";
  $scope.emailLengthLong = "Email should not be more than 255 characters";
  $scope.confirmEmail = "Emails are different";
  $scope.passwordLengthShort = "Password should be more than 4 characters";
  $scope.passwordLengthLong = "Password should not be more than 30 characters";
  $scope.setPassword = "Password should contain atleast 5 characters";
  $scope.confirmPassword = "Passwords are different";
  $scope.signUpData.title ="mr";
  $scope.isError = false;
  $scope.displayError = "";
  $scope.oppositeUserType = ""
  if(userType == 'employee') {
    $scope.userType = 'A EMPLOYEE';
    $scope.oppositeUserType = "employer";
  } else {
    $scope.userType = 'AN EMPLOYER';
    $scope.oppositeUserType = "employee"
  }
  $scope.showPassword = function() {
    if($('#show-password').prop("checked")){
      $('#passwordFirst').attr('type','text');
    }else{
      $('#passwordFirst').attr('type','password');
    }
  }
  $scope.submitSignIn = function(){
    $( "#sign-in-form .input-field" ).trigger('input').trigger('change').trigger('keydown').blur();
    console.log($scope.signInData);
    console.log($scope['signInForm'])
    if(!$scope['signInForm'].$valid) {
      console.log('invalid form');
      return;
    }else{
      console.log('valid form');
      $scope.loading = true;
      $http({
        method  : 'POST',
        url     : 'login',
              data    : $scope.signInData  // pass in data as strings
            }).success(function(data) {
              $scope.loading = false;
              console.log(data);
              if(data.status_code!=200){
                  $scope.isError = true;
                  $scope.displayError = data.data.Reason;
                  jQuery.pnotify({
                      text: $scope.displayError,
                      type: 'error'
                  });
              }else{
                $scope.isError = false;
                $scope.isBorrower = data.data.is_employee;
                if(data.data.user_type == "admin") {
                    window.location.href = "/adminDashboard.html#";
                    return false;
                }
                if($scope.isBorrower) {
                  window.location.href = "/dashboard.html#/RegistrationPending"
                } else {
                   window.location.href = "/dashboard.html#/oneStepRegistration"
                }
              //  window.location.href = "/dashboard.html";
              }
            });
          }   
        }
        $scope.processForm = function(formName,formFieldsData,requestURL,successURL,failureURL ) {
          $('#signUpForm .input-field').blur();
          // $('#signUpForm .input-field').trigger('input').trigger('change').trigger('keydown').blur();
          var country = $('#selectCountry.selectpicker').selectpicker('val');
          console.log(country);
          $scope.requestLocation = requestURL;
          $scope.successLocation = successURL;
          $scope.failureLocation = failureURL;
          console.log($scope[formName]);
          console.log($scope[formName].$valid);
          if(!$scope[formName].$valid) {
            console.log('invalid form');
            return;
          }
          $scope.formData.user_type = userType;
          $scope.formData.username = angular.element('#username').val();
          $scope.formData.email = angular.element('#emailAddress').val();
          $scope.formData.email_confirmation =  angular.element('#emailAddresss').val();
          $scope.formData.password =  angular.element('#passwordFirst').val();
          $scope.formData.password_confirmation =  angular.element('#passwordConfirm').val();
          console.log($scope.formData);
          $scope.loading = true;
          $http({
            method  : 'POST',
            url     : 'Register',
              data    : $scope.formData  // pass in data as strings
            }).success(function(data) {
                 $scope.loading = false;
                 if(data.status_code!=200){
                  $scope.isError = true;
                  $scope.displayError = data.data.Reason;
                  jQuery.pnotify({
                      text: $scope.displayError,
                      type: 'error'
                  });
                }else{
                  $scope.isError = false;
                  $scope.isBorrower = data.data.is_employee;
                  if($scope.isBorrower) {
                    window.location.href = "/dashboard.html#/RegistrationPending"
                  } else {
                     window.location.href = "/dashboard.html#/oneStepRegistration"
                  }
                }
              });
          };
        }; 
         </script>
</body>
</html>
